---
layout: service-sec-landing.njk
title: Body, Paint & Metalwork
tags: ['service']
serviceItems:
  tag: service
  order: 3
eleventyNavigation:
  key: Body, Paint & Metalwork
  parent: Services
  order: 3
description: Driven Garage nothern California restomod auto customization and repair shop
introHead: Clean Up your Ride
intro: We do complete high end paint, metal and bodywork starting with full disassembly through show-quality finish work. We specialize in proper metal repair and custom finishes.
featuredImage: ./src/_images/blue_paintbooth.jpg
featuredImageAlt: "Blue paintbooth"
featuredImagePos: "margin-top: -20%;"
collectionName: bodyPaintMetalwork
mylistfield: 
  - "Engine swaps"
  - "EFI conversions"
  - "Brake Upgrades"
  - "Power Steering Conversions"
  - "Suspension upgrades"
  - "Transmission swaps"
---

We do complete high end paint, metal and bodywork starting with full disassembly through show-quality finish work. We specialize in proper metal repair and custom finishes.