---
title: Body, Paint & Metalwork
tags: ['service']
eleventyNavigation:
  key: Body, Paint & Metalwork
  parent: Services
  order: 3
description: Driven Garage nothern California restomod auto customization and repair shop
featuredImage: ./src/_images/67_Camaro01.jpg
featuredImageAlt: "67 Camaro engine"
featuredImagePos: "margin-top: -20%;"
mylistfield:
  - "Engine swaps"
  - "EFI conversions"
  - "Brake Upgrades"
  - "Power Steering Conversions"
  - "Suspension upgrades"
  - "Transmission swaps"
---

  {% include "head.njk" %}

  <body class="is-flex is-flex-direction-column performance-upgrades">

    {% include "nav.njk" %}

    {% include "hero-services.njk" %}

    <section class="services half-split">
      <div class="container">

        <div class="columns">
          <div class="column">
            <figure class="image">
              <img src="{{ rootPath }}_images/blue_paintbooth.jpg" alt="Custom fabricated exhaust">
            </figure>
          </div>
          <div class="column">
            <div class="half-split-cont">
              <h3>Clean Up your Ride</h3>
              <p>
                We specialize in restoration work, not collision repair, so our technicians are focused on the quality of your project and not throughput.
              </p>

            </div>
            <div class="control">
              <div class="button is-primary slant toggle-btn"><h4>Ready to go? - Get started ></h4></div>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <div class="half-split-cont">
              <h3>More Efficient Power Curve</h3>
              <p>
                EFI isn’t a magic bullet that solves poor running conditions - but it can make your car easier to start both when cold and hot and increase overall reliability in most driving conditions. It won’t double your fuel mileage but will provide a more efficient burn. It won’t add horsepower - but will make your power curve better. 
              </p>
              <div class="control">
                <div class="button is-primary slant toggle-btn"><h4>Make your car run like this ></h4></div>
              </div>
            </div>
          </div>

          <div class="column">
            <figure class="image">
              <img src="{{ rootPath }}_images/001-corvette-holley-efi-sniper-quadrajet-throttle-body.jpg" alt="Custom fabricated exhaust">
            </figure>
          </div>

        </div>

      </div><!-- END container -->
    </section>








<style>
section.services-detail-cost-box .bkg-stripe.primary {
  background-color: #363636;
}

.container.feat-layout {
    margin: 0 auto 6rem auto;
}
.feat-body {
    margin: 4rem 2rem 0 0;
    padding: 1.4rem;
    background-color: #363636;
    color: #fff;
}
.feat-body h3 {
    font-size: 2rem;
    font-weight: 500;
    color: #f79837;
}
.feat-over {
    min-height: 12rem;
    z-index: 8;
}
.feat-layout figure img {
    max-height: 544px;
}
.know-tips {
  /* margin-bottom: 1rem; */
  display: flex;
  justify-content: space-between;
}
section.services-detail-cost-box span.hilite {
  margin: 0.6rem 0;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
}
section.services-detail-cost-box h4 {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  color: #f79837;
}

    

.feat-body .cta-bar h3 {
    margin: 1rem 0 0 4.4rem;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
}
section.services-detail-cost-box .column p.tips-subhead {
  font-size: 0.9rem;
  color: #dadada;
}
</style>







<!-- START COST LOCKUP -->    
<style>

  section.services-detail-cost-box > .container, 
  section.services-content.know-tips > .container {
    min-width: 100%;
  }
  section.services-content.know-tips .bkg-stripe.primary {
    background-color: #363636;
  }

  section.services-detail-cost-box .sec-bkg-img {
    max-height: 26rem;
  }
  section.services-detail-cost-box .sec-bkg-img::before {
    max-height: 32rem;
  }


  section.services-detail-cost-box .title {
    font-size: 2rem;
    font-weight: 500;
    color: #f79837;
  }
  section.services-detail-cost-box h3 {
    padding-right: 6rem;
    font-size: 0.9rem;
    color: #dadada;
  }
  section.services-detail-cost-box .column p {
    font-size: 1.1rem;
    font-weight: 400;
    color: #ffffff;
  }
  section.services-detail-cost-box .column p:not(:last-child) {
    margin-bottom: 1rem;
  }
  section.services-detail-cost-box .cost-box-inner {
    max-width: 60%;
    margin-bottom: 1rem;
    padding: 0.4rem;
    background-color: rgb(218 218 218 / 33%);
  }

  section.services-detail-cost-box .column span {
    font-size: 1.3rem;
    font-weight: 600;
  }
  section.services-detail-cost-box .cost-box-inner p {
    font-size: 0.9rem;
  }
  figure.history-quote {
    color: #dadada;
  }
  figure.history-quote blockquote {
    font-size: 1.2rem;
    font-weight: 500;
  }
  figure.history-quote figcaption {
    font-size: 1rem;
    font-style: italic;
  }

.bkg-stripe.primary .container.is-flex {
  align-items: center;
}

.bkg-stripe.primary h3 {
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
}
.hero-body.is-overlay .columns.pad-top {
  padding-top: 2rem;
}
section.services-detail-cost-box .image img {
    display: block;
    height: auto;
    width: auto;
    max-height: 20rem;
}

</style>

<!-- TRIAL tip info bar -->
<section class="services-detail-cost-box">
  <div class="container">
    <!-- <div class="halftone-overlay"></div> -->
    <div class="sec-bkg-img">
      <img src="{{ rootPath }}_images/Mustang_teal_paintbooth.jpg" alt="65 Mustang quick service">
    </div>
    <div class="bkg-stripe primary">
      <div class="container know-tips">
        <h3>How <span style="color: #f79837;">Driven</span> <i>Does It Right</i></h3>
        <span class="hilite"><i>Tips from the Pros</i></span> <!-- What we've learned -->
      </div>
    </div>

    <div class="hero-body is-overlay">
      <div class="container">
        <div class="columns pad-top">
          <div class="column is-one-third">
            <figure class="image">
            <img src="{{ rootPath }}_images/67_El_Camino_block_sanding.jpg" alt="CCS Inition distributor">
          </figure>
          </div>
          <div class="column">
            <p class="tips-subhead">
              <!-- With years under cars, out techs have learned the right parts and techniques – the hard way -->
              After years under cars, we've honed the best installation matched with the right parts to do the job right
            </p>
            <h4>Perfect Paint starts with a Smooth Body</h4>
            <p>With a few components we can add timing control to most EFI systems. This enables the EFI computer to control the timing curve on your engine as well as the fuel map. This allows us to dial in your advance curve to make your car more responsive and put the fuel and timing map in concert to help make the most power at the right time.</p>
          </div>
        </div><!-- END columns -->
      </div>
    </div><!-- END hero-body is-overlay -->

  </div><!-- END container -->
</section>
<!-- END ONE - COST LOCKUP -->







      


<style>
  .half-split .columns {
    margin-bottom: 4rem;
  }
  .half-split h3 {
    margin: 0 0 1rem 0;
    width: fit-content;
    font-size: 2rem;
    font-weight: 500;
    border-bottom: 2px solid #f79837;
  }
  .half-split h3.sm {
  font-size: 1.8rem;
}
  .half-split-cont {
    margin: 0 0 1rem 0;
    padding: 1rem;
  }
  .half-split p {
    font-size: 1rem;
    line-height: 2rem;

}
</style>







<!-- START alt COST LOCKUP -->
<style>
  section.services-detail-cost-box-alt {
    padding: 2rem 0;
    /* background-color: #bdbdbd; */
  }
.silver1 {
  background: linear-gradient(
    22deg, #787878 0%,
    #b5b5b5 25%,
    #e3e3e3 50%,
    #ffffff 60%,
    #b5b5b5 75%,
    #787878 100%
  );
}
.bkg-grad1 {
  background-image: linear-gradient(180deg, #dadada 40%, #363636);
}
.bkg-grad2 {
  background-image: linear-gradient(180deg, #dadada 40%, #636363);
}


  section.services-detail-cost-box-alt .title {
    font-size: 2rem;
    font-weight: 500;
    color: #363636;
  }
  section.services-detail-cost-box-alt .columns > .column > h3 {
    padding-right: 6rem;
    font-size: 0.9rem;
  }

  .cost-box {
    min-width: 100%;
  }


  .cost-box h3 {
    margin: 0 0 0.4rem 1.4rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: #868686;
  }




  section.services-detail-cost-box-alt .column p {
    font-size: 1.2rem;
  }

  section.services-detail-cost-box-alt .column p:not(:last-child) {
    margin-bottom: 1rem;
  }
  .cost-box-inner {
    max-width: 60%;
    margin-bottom: 1rem;
    margin-left: 1.4rem;
    padding: 1rem 0 0 0;
    /* background-color: #dadada; */
    background-color: rgb(255 255 255 / 82%);

    text-align: right;
    border: 4px solid #f79837;
    border-width: 6px 6px 0 0;
  }


  section.services-detail-cost-box-alt .column span {
    font-size: 1.6rem;
    font-weight: 600;
  }
  section.services-detail-cost-box-alt .column .cost-box-inner h3 {
    margin: 0 1rem 1rem 0;
    font-size: 1.6rem;
    font-weight: 600;
    color: #363636;
  }

  section.services-detail-cost-box-alt .column .cost-box-inner p {
    font-size: 0.9rem;
    /* padding-left: 0.4rem; */
    padding: 0.2rem;
    margin: 0;
    background: #fff;
    display: inline-block;
  }



</style>

<section class="services-detail-cost-box-alt bkg-grad2">
  <div class="container">
    <div class="columns">
      <div class="column">
          <h1 class="title">What’s the cost?</h1>
          <h3>Each job will be estimated individually, but here are some guidelines to help you budget</h3>
      </div>

      <div class="column">
        <p>We only offer two levels of auto painting at Driven Garage &#8212; Great and Show-Quality.</p>
        <!-- <p>The results speak for themselves and the amount of work is based on 
          wether you are looking for 10-foot or 10-inch finish.</p> -->
        <p>Walk through the steps below to understand how we give your car the best finish.</p>
        <p>Wether you are looking for 10-foot or 10-inch finish, we'll give you the best results.</p>
      </div>
      
      <div class="column">
        <div class="cost-box">
          <h3>Approximate Cost</h3>
          <div class="cost-box-inner">
            <h3>$20,000 - $25,000</h3>
            <p>Great finish</p>
          </div>
          <div class="cost-box-inner">
            <h3>$40,00 - $60,000</h3>
            <p>Show-Quality finish</p>
          </div>
        </div>
      </div>
    
    </div><!-- END columns -->

  </div>
</section>



<!-- End alt COST LOCKUP --> 








<!-- START accordion -->
<style>

.accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.accordion .a-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* padding-bottom: 5px; */
  margin-bottom: 3rem;
}
.accordion .a-container .a-btn {
  position: relative;
  padding: 0 0 0.4rem 0;
  width: 100%;
  color: #dadada;
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #363636;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
  /* transform: skew(-24deg); */
  /* box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.15), 0 10px 10px -5px rgba(0, 0, 0, 0.1) !important; */
}
.accordion .a-container .a-btn span {
  display: block;
  position: absolute;
  height: 14px;
  width: 14px;
  right: 20px;
  top: 18px;
}
.accordion .a-container .a-btn span:after {
  content: "";
  width: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  top: 6px;
}
.accordion .a-container .a-btn span:before {
  content: "";
  width: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  top: 6px;
  transform: rotate(90deg);
  transition: all 0.3s ease-in-out;
}
.accordion .a-container .a-panel {
  width: 100%;
  color: #262626;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  height: auto;
  max-height: 0;
  overflow: hidden;
  padding: 0px 10px;
}
.accordion .a-container.active .a-btn {
  color: #fff;
}
.accordion .a-container.active .a-btn span::before {
  transform: rotate(0deg);
}
.accordion .a-container.active .a-panel {
  padding: 2rem;
  opacity: 1;
  max-height: 500px;
}
.acc-cont p {
  padding-bottom: 1rem;
}
.acc-cont .cost-box {
  padding: 1rem;
}
.acc-cont .cost-box h3 {
  margin: 0 0 0.4rem 1.4rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #868686;
}
.acc-cont .cost-box p {
  font-size: 0.8rem;
  padding-left: 0.4rem;
}
.acc-cont .cost-box .cost-box-inner {
  max-width: 100%;
  margin-left: 1.4rem;
  padding: 0.4rem 0 0 0.4rem;
  text-align: right;
  border: 4px solid #f79837;
  border-width: 6px 6px 0 0;
}
.acc-cont .cost-box .cost-box-inner h3 {
  margin: 0 0.2rem 0 0;
  font-size: 1.4rem;
  font-weight: 600;
  color: #363636;
}
.acc-cont .cost-box .cost-box-inner p {
  padding: 0.2rem;
  margin: 0;
  background: #fff;
  display: inline-block;
}

.a-btn i {
  width: 3rem;
  height: 3rem;
  margin: 0 0 0 -2rem;
  padding: 0.8rem 1.4rem;
  color: #ffffff;
  background: #f79837;
  border-radius: 50%;
  font-size: 2rem;
  text-align: center;
  /* transform: skew(24deg); */
}

</style>


<section class="faq-accordion">
  <div class="container">

    <div class="accordion v1">
      
      <div class="a-container">
        <p class="a-btn"><i>1</i> Prep and Primer<span></span></p>
        <div class="a-panel bkg-grad2">
          <div class="columns acc-cont">
            <div class="column is-one-fifth">
              <figure class="image">
                <img src="{{ rootPath }}_images/67_El_Camino_block_sanding.jpg" alt="Custom fabricated exhaust">
              </figure>
            </div>
            <div class="column">
              <p>
                To achive the best finish, the process starts with making the body smooth and ready for paint application.
                A very thin skim of polyester body filler is the start. The initial filler is worked with a sanding block or body file, reapplying filler as needed.</p>
                <p>Once the repair is satisfactorily feathered-in with the surrounding metal, it can be sanded progressively finer in preparation for the primer-surfacer coat. If sanding alone does not clean the filled surface, another coat of filler or a glaze coat can be applied.
              </p>
            </div>
            <div class="column is-one-fifth">
              <div class="cost-box">
                <h3>Approximate Cost</h3>
                <div class="cost-box-inner">
                  <h3>$2,000 - $2,500</h3>
                  <p>parts</p>
                </div>
                <div class="cost-box-inner">
                  <h3>$1,600 - $1,800</h3>
                  <p>labor</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div><!-- END a-container -->



      <div class="a-container">
        <p class="a-btn"><i>2</i> Color and Clearcoat Spray<span></span></p>
        <div class="a-panel bkg-grad2">
          <div class="columns acc-cont">
            <div class="column is-one-fifth">
              <figure class="image">
                <img src="{{ rootPath }}_images/67_El_Camino_block_sanding.jpg" alt="Custom fabricated exhaust">
              </figure>
            </div>
            <div class="column">
              <p>
                To achive the best finish, the process starts with making the body smooth and ready for paint application.
                A very thin skim of polyester body filler is the start. The initial filler is worked with a sanding block or body file, reapplying filler as needed.</p>
                <p>Once the repair is satisfactorily feathered-in with the surrounding metal, it can be sanded progressively finer in preparation for the primer-surfacer coat. If sanding alone does not clean the filled surface, another coat of filler or a glaze coat can be applied.
              </p>
            </div>
            <div class="column is-one-fifth">
              <div class="cost-box">
                <h3>Approximate Cost</h3>
                <div class="cost-box-inner">
                  <h3>$2,000 - $2,500</h3>
                  <p>parts</p>
                </div>
                <div class="cost-box-inner">
                  <h3>$1,600 - $1,800</h3>
                  <p>labor</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div><!-- END a-container -->



      <div class="a-container">
        <p class="a-btn"><i>3</i> Cutting and Buffing<span></span></p>
        <div class="a-panel bkg-grad2">
          <div class="columns acc-cont">
            <div class="column is-one-fifth">
              <figure class="image">
                <img src="{{ rootPath }}_images/67_El_Camino_block_sanding.jpg" alt="Custom fabricated exhaust">
              </figure>
            </div>
            <div class="column">
              <p>
                To achive the best finish, the process starts with making the body smooth and ready for paint application.
                A very thin skim of polyester body filler is the start. The initial filler is worked with a sanding block or body file, reapplying filler as needed.</p>
                <p>Once the repair is satisfactorily feathered-in with the surrounding metal, it can be sanded progressively finer in preparation for the primer-surfacer coat. If sanding alone does not clean the filled surface, another coat of filler or a glaze coat can be applied.
              </p>
            </div>
            <div class="column is-one-fifth">
              <div class="cost-box">
                <p>You can expect to pay around:</p>
                <div class="cost-box-inner">
                  <h3>$2,000 - $2,500</h3>
                  <p>parts</p>
                </div>
                <div class="cost-box-inner">
                  <h3>$1,600 - $1,800</h3>
                  <p>labor</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div><!-- END a-container -->



    </div><!-- END accordion v1 -->

  </div>
</section>
<!-- END accordion -->





<!-- START carousel-cars section -->
<style>
  section.carousel-cars .slider-nav {
    z-index: 10;
  }
  section.carousel-cars .slider-item-helper:not(.slider-item-ratio) .slider-container>* {
    min-height: 2rem;
  }
  section.carousel-cars .slider-item-helper .slider-container>* {
    display: block;
  }
  section.carousel-cars .slide-box {
    max-width: 22rem;
    max-height: 10rem;
  }
  section.carousel-cars .slide-box>img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

</style>

<section class="carousel-cars">
  <div class="container">


    <!-- <div class="swiffy-slider"> -->
      <div class="swiffy-slider slider-item-helper slider-item-show4 slider-item-reveal slider-item-snapstart slider-item-nogap">  
      
        <ul class="slider-container">
            <li>
              <div class="slide-box">

                <img src="{{ rootPath }}_images/67_dart_vader_graffiti.jpg" alt="Ridetech shocks">
                <div class="feat-item_overlay">
                  <div class="feat-item_overlay_body">
                    <div class="logo-bkg-stripe">
                      <figure>
                        <h3>1967 Dart Vader</h3>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            </li><!-- END slide 1 -->
  
            <li>
              <div class="slide-box">

                <img src="{{ rootPath }}_images/Mercury_Comet.jpg" alt="69 Dodge Coronet gibson custom exhaust">
                <div class="feat-item_overlay">
                  <div class="feat-item_overlay_body">
                    <div class="logo-bkg-stripe">
                      <figure>
                        <h3>Mercury_Comet</h3>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            </li><!-- END slide 2 -->
  
            <li>
              <div class="slide-box">

                <img src="/assets/images/67camaro_forsyth-5857-800.jpeg" alt="Restomod Air">
                <div class="feat-item_overlay">
                  <div class="feat-item_overlay_body">
                    <div class="logo-bkg-stripe">
                      <figure>
                        <h3>1967 Camaro</h3>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            </li><!-- END slide 3 -->
  
            <li>
              <div class="slide-box">

                <img src="/assets/images/69-cuda-5-800.jpeg" alt="Wilwood brakes 66 c10 pickup">
                <div class="feat-item_overlay">
                  <div class="feat-item_overlay_body">
                    <div class="logo-bkg-stripe">
                      <figure>
                        <h3>1969 Baracuda</h3>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            </li><!-- END slide 4 -->
  <!-- ORIG 4 -->
            <li>
              <div class="slide-box">
                <img src="{{ rootPath }}_images/67_dart_vader_graffiti.jpg" alt="Ridetech shocks">
                <div class="feat-item_overlay">
                  <div class="feat-item_overlay_body">
                    <div class="logo-bkg-stripe">
                      <figure>
                        <h3>5 1967 Dart Vader</h3>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            </li><!-- END slide 5 -->
            <li>
              <div class="slide-box">
                <img src="/assets/images/69-cuda-5-800.jpeg" alt="Wilwood brakes 66 c10 pickup">
                <div class="feat-item_overlay">
                  <div class="feat-item_overlay_body">
                    <div class="logo-bkg-stripe">
                      <figure>
                        <h3>6 1969 Baracuda</h3>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            </li><!-- END slide 6 -->
            <li>
              <div class="slide-box">
                <img src="/assets/images/67camaro_forsyth-5857-800.jpeg" alt="Restomod Air">
                <div class="feat-item_overlay">
                  <div class="feat-item_overlay_body">
                    <div class="logo-bkg-stripe">
                      <figure>
                        <h3>7 1967 Camaro</h3>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            </li><!-- END slide 7 -->
            <li>
              <div class="slide-box">
                <img src="{{ rootPath }}_images/Mercury_Comet.jpg" alt="69 Dodge Coronet gibson custom exhaust">
                <div class="feat-item_overlay">
                  <div class="feat-item_overlay_body">
                    <div class="logo-bkg-stripe">
                      <figure>
                        <h3>8 Mercury_Comet</h3>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            </li><!-- END slide 8 -->


        </ul>
  
        <button type="button" class="slider-nav"></button>
        <button type="button" class="slider-nav slider-nav-next"></button>
  
        <div class="slider-indicators">
            <button class="active"></button>
            <button></button>
            <button></button>
        </div>
      </div><!-- END swiffy-slider -->

    </div>
  </section>
<!-- END carousel-cars section -->





    {% include "footer.njk" %}
  </body>

</html>