---
title: Body, Paint & Metalwork
tags: ['service']
eleventyNavigation:
  key: Body, Paint & Metalwork
  parent: Services
  order: 3
description: Driven Garage nothern California restomod auto customization and repair shop
introHead: Clean Up your Ride
intro: We specialize in restoration work, not collision repair, so our technicians are focused on the quality of your project and not throughput.
featuredImage: ./src/_images/55buick-6220.jpg
featuredImageAlt: "55 Buick three-quarters"
featuredImagePos: "margin-top: -22%;"
collectionName: bodyPaintMetalwork
mylistfield:
  - "Paint and body"
  - "Classic Car collision repair"
  - "Insurance work on custom / Classic cars"
  - "Metalwork / Rust repair"
  - "Custom paint"
---

  {% include "head.njk" %}

  <body class="is-flex is-flex-direction-column">

    {% include "nav.njk" %}

    {% include "hero-services.njk" %}

    <section class="projects">

    {% include "service-page-intro.njk" %}  

        <div class="container feat-layout">
            <div class="feat-over is-overlay">
                <div class="columns">
                    <div class="column">
                    </div><!-- END 1 col -->
                    <div class="column">
                        <div class="feat-body">
                            <h3>Get it Straight and Sharp</h3>
                            <p>
                              Laser straight panels and tight gaps don't happen by accident. We painstakenly dive into the process of straightening the panels. Although they may look straight, metal panels, whether they are original, or aftermarket are pretty wavy.</p>
                              <p>After you apply a new coat of shiny paint, the waves will really stand out! It's for this reason that we put a great deal of time and effort into the body of your car.</p>
                            <div class="level-item cta-bar">
                                <h3>Get back on the Road?</h3>
                                <div class="control">
                                  <a class="button is-primary slant js-modal-trigger" data-target="modal-js-example" href="#" target="_self"><h4>Let’s Talk  > </h4></a>
                                </div>
                            </div>
                        </div>
                    </div><!-- END 2 col -->
                </div>


            </div><!-- END feat-over is-overlay -->
<style>
.slider-cont {
  width: 820px;
  height: 544px;
}
.slider-cont .slide-box {
  position: relative;
  height: 540px;
  background-color: #f79837;
  overflow-y: hidden;
}

</style>
<div class="slider-cont">

<!-- START swiffy-slider -->
    <div class="swiffy-slider slider-nav-autoplay slider-item-helper slider-item-snapstart slider-item-nogap">  
      
      <ul class="slider-container">

{% for cont in collections.bodyPaintMetalwork %}
        <li>
          <div class="slide-box">
            <img src="{{ rootPath }}{{ cont.data.image }}" alt="{{ cont.data.altTag }}">
          </div>
        </li><!-- END slide xx -->
{% endfor %}

      </ul>

      <button type="button" class="slider-nav"></button>
      <button type="button" class="slider-nav slider-nav-next"></button>

      <div class="slider-indicators">
          <button class="active"></button>
          <button></button>
          <button></button>
      </div>
    </div>
<!-- END swiffy-slider -->

</div><!-- END slider-cont -->

        </div><!-- END container -->
      

</section>


<section class="services-listing">
  <div class="container">
    <div class="halftone-overlay"></div>
    <div class="sec-bkg-img">
      <img src="{{ rootPath }}_images/65_Mustang_quick_service.jpg" alt="65 Mustang quick service">
    </div>
    <div class="hero-body is-overlay">
      <div class="container">
        <div class="columns">
          <div class="column is-one-third">
            <h1 class="title">Complete Body, Paint & Metalwork services We Offer</h1>
          </div>
          <div class="column is-two-third">

            <div class="columns">
              <div class="column" style="background: rgba(255,255,255,.70);">
                <ul>
                  <li>Paint and body</li>
                  <li>Classic Car collision repair</li>
                  <li>Insurance work on custom / Classic cars</li>
                </ul>
              </div>
              <div class="column" style="background: rgba(255,255,255,.70);">
                <ul>
                  <li>Metalwork / Rust repair</li>
                  <li>Custom paint</li>
                </ul>
              </div>
            </div>

          </div><!-- END column is-two-third -->
        </div>

      </div>
    </div><!-- END hero-body is-overlay -->

    </div><!-- END container 1 row -->
</section>



{% include "services-related.njk" %}






    {% include "footer.njk" %}
  </body>

</html>