---
title: Custom Fabrication
tags: ['service']
eleventyNavigation:
  key: Custom Fabrication
  parent: Services
  order: 4
description: Driven Garage nothern California restomod auto customization and repair shop
introHead: Build Up your Ride
intro: Proper maintenance of your classic car help avoid nasty and expensive problems down the road. Aggressive and consistent maintenance is the best way to ensure your car will be ready when you want to drive, and that you don't get surprised with unexpected failures. Your car is special - this much you know. What you may not know is that your classic may need special services and additives to keep it running at peak performance.
featuredImage: ./src/_images/Exhaust_custom_stainless.jpg
featuredImageAlt: "Exhaust custom built stainless steel"
featuredImagePos: "margin-top: -51%;"
collectionName: customFabrication
mylistfield:
  - "Exhaust"
  - "Custom Brackets"
  - "Custom styling"  
  - "Suspension"
---

  {% include "head.njk" %}

  <body class="is-flex is-flex-direction-column">

    {% include "nav.njk" %}

    {% include "hero-services.njk" %}


    <section class="projects">

    {% include "service-page-intro.njk" %} 

        <div class="container feat-layout">
            <div class="feat-over is-overlay">
                <div class="columns">
                    <div class="column">
                    </div><!-- END 1 col -->
                    <div class="column">
                        <div class="feat-body">
                            <h3>Welded Custom Exhausts and Brackets</h3>
                            <p>
                              We offer MIG and TIG welding services for a variety of different applications. From chassis work to sheet metal repair, our technicians have the skill and experience to produce strong and beautiful welds.</p>
                <p>Depending on your application, and material requirements, we offer both MIG and TIG welding services. We will help you choose the process that is most applicable to the job. Our master fabricators are experienced in welding a variety of materials including: aluminum, stainless, mild steel, and chromoly. Our welds are not only functional and strong, but also attractive. Common welding applications at Classic Car Studio include: custom headers and exhaust, suspension and chassis work, body panel and rust repair, fuel cell fabrication, roll cage fabrication, and custom bracket fabrication.</p>
                            <div class="level-item cta-bar">
                                <h3>Get back on the Road?</h3>
                                <div class="control">
                                  <a class="button is-primary slant js-modal-trigger" data-target="modal-js-example" href="#" target="_self"><h4>Let’s Talk  > </h4></a>
                                </div>
                            </div>
                        </div>
                    </div><!-- END 2 col -->
                </div>


            </div><!-- END feat-over is-overlay -->
<style>
.slider-cont {
  width: 820px;
  height: 544px;
}
.slider-cont .slide-box {
  position: relative;
  height: 540px;
  background-color: #f79837;
  overflow-y: hidden;
}

</style>
<div class="slider-cont">

<!-- START swiffy-slider -->
    <div class="swiffy-slider slider-nav-autoplay slider-item-helper slider-item-snapstart slider-item-nogap">  
      
      <ul class="slider-container">

{% for cont in collections.customFabrication %}
        <li>
          <div class="slide-box">
            <img src="{{ rootPath }}{{ cont.data.image }}" alt="{{ cont.data.altTag }}">
          </div>
        </li><!-- END slide xx -->
{% endfor %}

      </ul>

      <button type="button" class="slider-nav"></button>
      <button type="button" class="slider-nav slider-nav-next"></button>

      <div class="slider-indicators">
          <button class="active"></button>
          <button></button>
          <button></button>
      </div>
    </div>
<!-- END swiffy-slider -->

</div><!-- END slider-cont -->

        </div><!-- END container -->
      

</section>

    <section class="services-listing">
        <div class="container"><!-- START container 4 row -->
            <div class="halftone-overlay"></div>
            <div class="sec-bkg-img">
            <img src="{{ rootPath }}_images/Exhaust_custom_stainless.jpg" alt="Exhaust custom stainless" loading="lazy">
            </div>
            <div class="hero-body is-overlay">
                <div class="container">
                    <div class="columns">
                        <div class="column is-one-third">
                            <h1 class="title">Complete Custom Fabrication services We Offer</h1>
                        </div>
                        <div class="column is-two-third">
                            <div>
                                <p>Intro copy for Custom Fabrication detail page</p>
                            </div>    
    
                            <div class="columns">
                                <div class="column">
                                    <ul>
                                        <li>Exhaust</li>
                                        <li>Custom Brackets</li>
                                    </ul>
                                </div>
                                <div class="column">
                                    <ul>
                                        <li>Custom styling</li>
                                        <li>Suspension</li>
                                    </ul>
                                </div>
                            </div>
    
                        </div><!-- END column is-two-third -->
                    </div>
    
                </div>
            </div><!-- END hero-body is-overlay -->
    
        </div><!-- END container 4 row -->
    
    </section>



{% include "services-related.njk" %}



    {% include "footer.njk" %}
  </body>

</html>