  
  
  
            {% if imgP|length %}
                {# image ""+imgP, ""+imgSlideAlt  #}
                <p>imgP: {{ imgP }}</p>
                {% image "src/_images/Exhaust_custom_stainless.jpg", "67 Camaro engine" %}
            {% endif %}