---
title: Once theme
eleventyNavigation:
  key: ServicesHOME
  title: ServicesHOMETT
---

{% include "head.njk" %}

<body class="home is-flex is-flex-direction-column">
  {% include "nav.njk" %}

  {% topIndexAd %}

  {{ content | safe }}

  {% include "footer.njk" %}
</body>

</html>