---
layout: base-4.njk
title: Performance Upgrades Detail 4 - perf-up
---

    {% include "hero-services.njk" %}

    {% block secCont01 %}
        {% include "sec-cont01.njk" %}
    {% endblock secCont01 %}

    
    {% block secTips %}
        {% include "sec-tips.njk" %}
    {% endblock secTips %}


    {% block secCont02 %}
        {% include "sec-cont02.njk" %}
    {% endblock secCont02 %}


    {% block secCost %}
        {% include "sec-cost.njk" %}
    {% endblock secCost %}

    {% block secCont03 %}
        {% include "sec-cont03.njk" %}
    {% endblock secCont03 %}

{% if bodyName == "custom-high-end-paint" %}

    {% block secContAccordion %}
        {% include "sec-cont-accordion.njk" %}
    {% endblock secContAccordion %}

    {% block secCostAlt %}
        {% include "sec-cost-alt.njk" %}
    {% endblock secCostAlt %}

    {% block secFAQs2 %}
        {% include "sec-faq-accordion.njk" %}
    {% endblock secFAQs2 %}


{% else %}

    {% block secFAQs %}
        {% include "sec-faq-accordion.njk" %}
    {% endblock secFAQs %}

{% endif %}

    {% block secCarsAll %}
        {% include "sec-cars-carousel.njk" %}
    {% endblock secCarsAll %}