---
title: Título Artículo
featuredImage: /_images/default.jpg
---

  {% include "head.njk" %}

  <body class="is-flex is-flex-direction-column">

    {% include "nav.njk" %}

    <main class="section is-flex-grow-1">

      <div class="container">
        {% topPostAd %}
      </div>

      <article class="container articulo">
        <header class=" container has-text-centered">
          <h1 class="title is-1 is-size-3-mobile has-text-weight-bold">{{ title}}</h1>
<!--          <p class="is-size-5 has-text-grey-dark has-text-weight-light is-family-sans-serif">{{ description }}</p> -->
          <div class="tags is-justify-content-center mt-3">
            {% for tag in tags %}
              <a href="/tags/{{ tag }}" class="tag">{{ tag }}</a>
            {% endfor %}
          </div>
          {% if config.showDate %}
            <p class="mb-1"><time class="has-text-grey-dark is-size-7">Published: {{ page.date | postDate }}</time></p>
          {% endif %}
        </header>


        {% if featuredImage | length %}
          {%set pageP = "src/" %}
          {%set imgP = featuredImage %}
          {%set fullP = pageP+imgP %}
          {%set imgAlt = title %}

          <figure class="image featured-image py-5">
            {% image ""+fullP, ""+imgAlt %}
          </figure>

        {% endif %}


        {% bottomImagePostAd %}

        <div class="is-flex">

          <div class="articulo-content content mb-0">

            {{ content | safe }}

          </div>

          {% if config.showShareButtons%}
            {% include "share-buttons.njk" %}
          {% endif %}

        </div>

        {% bottomContentPostAd %}

      </article>
    </main>

    {% if config.xx-showRelatedPosts %}
      {% include "related-posts.njk" %}
    {% endif %}

<aside class="section has-background-light">
<section class="blog-cards">
  <div class="container">
    <p class="title is-4 has-text-centered mt-4 mb-4">{{ config.relatedPostsTitle }}</p>
  </div>
  <div class="container">
    <div class="columns is-variable is-5-desktop is-multiline is-mobile">

          {% include "blog-card.njk" %}

    </div>

    <div class="columns">
      <div class="column has-text-centered">
        {% include "pagination.njk" %}
      </div>
    </div>

  </div>
</section>
</aside>

    {% include "footer.njk" %}
  </body>

</html>