---
title: Driven Garage - Projects
description: Driven Garage nothern California restomod auto customization and repair shop
featuredImage: /_images/default.jpg
---


{% include "head.njk" %}

<body class="projects is-flex is-flex-direction-column">
  {% include "nav.njk" %}

    <section class="hero-services">
        <div class="halftone-overlay"></div>
        <div class="sec-bkg-img">

        {% if featuredImage %}
          <img src="..{{featuredImage}}" alt="{{title}}" style="margin-top: -24%; object-position: 0px 0px;">
        {% endif %}

        </div>
        <div class="hero-body is-overlay">
            <div class="container">
                <h1 class="title">Projects</h1>
            </div>
        </div>
    </section>







<!-- START projects grid-->

<section class="services">
  <div class="container">
    <h2>Featured Projects</h2>
    <h3>Every build is infused with our blood and sweat. Taming metal and tuning performace.</h3>
  </div>

    <div class="container">
      <div class="columns is-multiline">
  
        
        {% for proj in collections.project %}
        {%set pageSlideP = "./src/"+proj.data.urlPath %}
        {%set imgSlideP = proj.data.featuredImage %}
        {%set fullSlideP = pageSlideP+imgSlideP %}
        {% set imgSlideAlt = slide.altText %}
        <!-- START {{ proj.data.title }} -->

        <div class="column is-one-third">
          <div class="feat-item-over">
            <a href="/{{ proj.data.urlPath }}"aria-labelledby="person1"></a>
            {% if proj.data.featuredImage|length %}
              {% image ""+fullSlideP, ""+imgSlideAlt %}
            {% endif %}
          
            <div class="item__overlay">
              <div class="card-halftone-overlay"></div>
              <h3 aria-hidden="true">{{ proj.data.title }}</h3>
              <div class="item__body">
                {{ proj.data.content | safe }}
    
                <div class="control">
                  <a href="#" target="_self">click for more
                    <img src="{{ rootPath }}_images/i-link-arr.png" alt="Link to more">
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div><!-- END {{ proj.data.title }} -->
        {% endfor %}



      </div><!-- END columns -->
    </div><!-- END container -->
 
</section>
<!-- END -->



  {% include "footer.njk" %}
</body>

</html>