{% block secHorzAccordion %}



<style>
.tab-container {
    margin: 0 5%;
    padding: 3rem 0;
}

.tab-wrap {
  transition: 0.3s box-shadow ease;
  /* border-radius: 6px; */
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* position: relative; */
  position: sticky;
  min-height: 200px;
  list-style: none;
  background-color: #fff;
  /* margin: 40px 0; */
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
}
.tab-wrap:hover {
  /* box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19); */
}
.tab-nav {
    /* position: sticky; */
	top: 2rem;
}

.tab {
  display: none;
}

.tab:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1), 
.tab:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2), 
.tab:checked:nth-of-type(3) ~ .tab__content:nth-of-type(3), 
.tab:checked:nth-of-type(4) ~ .tab__content:nth-of-type(4), 
.tab:checked:nth-of-type(5) ~ .tab__content:nth-of-type(5), 
.tab:checked:nth-of-type(6) ~ .tab__content:nth-of-type(6), 
.tab:checked:nth-of-type(7) ~ .tab__content:nth-of-type(7), 
.tab:checked:nth-of-type(8) ~ .tab__content:nth-of-type(8), 
.tab:checked:nth-of-type(9) ~ .tab__content:nth-of-type(9), 
.tab:checked:nth-of-type(10) ~ .tab__content:nth-of-type(10), 
.tab:checked:nth-of-type(11) ~ .tab__content:nth-of-type(11), 
.tab:checked:nth-of-type(12) ~ .tab__content:nth-of-type(12), 
.tab:checked:nth-of-type(13) ~ .tab__content:nth-of-type(13) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}
.tab:first-of-type:not(:last-of-type) + label {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.tab:not(:first-of-type):not(:last-of-type) + label {
  border-radius: 0;
}
.tab:last-of-type:not(:first-of-type) + label {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.tab:checked + label {
    color: #fff;
    background-color: #f79837;
    box-shadow: 0 -1px 0 #fff inset;
    cursor: default;
}
.tab:checked + label:hover {
  box-shadow: 0 -1px 0 #fff inset;
  background-color: #f79837;
}

.tab + label:nth-of-type(1) {
    margin-left: 0;
}

.tab + label {
  /* box-shadow: 0 -1px 0 #eee inset; */
  /* border-radius: 6px 6px 0 0; */
  /* border-left: 2px solid #fff; */
  /*  Didn't work - only 1 side slanted 
  border-color: blue transparent Pink transparent;
  border-width: 0 0 100px 100px;
*/

  clip-path: polygon( 10% 0, 100% 0%, 90% 100%, 0% 100% );
  margin-left: -0.5rem;
  display: block;
  text-decoration: none;
  color: #333;
  flex-grow: 3;
  text-align: center;
  background-color: #f2f2f2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  transition: 0.3s background-color ease, 0.3s box-shadow ease;
  height: 3rem;
  box-sizing: border-box;
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  z-index: 10;
  cursor: pointer;
}

/* 
.tab + label:after {
    content:'';
  display: block;
  border-right: 4px solid #000;
  transform: rotate(24deg);
  height: 52px;
  width: 20px;
  position: absolute;
  cursor: pointer;
  right: 9px;
  top: -5px;
}
*/



/* 
.tab + label:after {
    content:'';
  display: block;
  border-top: 16px solid #000;
  border-right: 16px solid #000;
  transform: rotate(45deg);
  height: 20px;
  width: 20px;
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 50%;
}
*/


/* 
.tab + label:after {
    content:'';
  display: block;
  width: 0px;
    height: 0px;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid green;
  position: absolute;
  cursor: pointer;
  left: o;
  top: 50%;
} */



.tab + label:hover {
  /* background-color: #f9f9f9; */
  background-color: #f79837;
  /* box-shadow: 0 1px 0 #f4f4f4 inset; */
}
.tab__content {
  padding: 10px 25px;
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: -1;
  opacity: 0;
  left: 0;
  transform: translateY(-3px);
  border-radius: 6px;
}

section.tabs-var-height input,
section.tabs-var-height label {
    position: sticky;
    top: 0;
}



</style>


<section class="tabs-var-height bkg-grad1">
    <div class="tab-container">
    
      <div class="tab-wrap">

            <!-- active tab on page load gets checked attribute -->
            <input type="radio" id="tab1" name="tabGroup1" class="tab" checked="checked">
            <label for="tab1">Step 1 <!-- Build spec / design --></label>
        
            <input type="radio" id="tab2" name="tabGroup1" class="tab">
            <label for="tab2">Step 2 <!-- Disassembly / Media blast / condition assessment --></label>

            <input type="radio" id="tab3" name="tabGroup1" class="tab">
            <label for="tab3">Step 3 <!-- Metalwork / Modification / Pre-assembly & Fit --></label>

            <input type="radio" id="tab4" name="tabGroup1" class="tab">
            <label for="tab4">Step 4 <!-- Bodywork / Block Sand / Refinement --></label>

            <input type="radio" id="tab5" name="tabGroup1" class="tab">
            <label for="tab5">Step 5 <!-- Prime and Block Sand --></label>

            <input type="radio" id="tab6" name="tabGroup1" class="tab">
            <label for="tab6">Step 6 <!-- Final Paint Prep --></label>

            <input type="radio" id="tab7" name="tabGroup1" class="tab">
            <label for="tab7">Step 7 <!-- Final fit / Mock-up --></label>

            <input type="radio" id="tab8" name="tabGroup1" class="tab">
            <label for="tab8">Step 8 <!-- Paint / Clear coat / Finish --></label>

            <input type="radio" id="tab9" name="tabGroup1" class="tab">
            <label for="tab9">Step 9 <!-- Exterior re-assembly --></label>

            <input type="radio" id="tab10" name="tabGroup1" class="tab">
            <label for="tab10">Step 10 <!-- Exterior re-assembly --></label>

            <input type="radio" id="tab11" name="tabGroup1" class="tab">
            <label for="tab11">Step 11 <!-- Wiring / Plumbing / Exhaust --></label>

            <input type="radio" id="tab12" name="tabGroup1" class="tab">
            <label for="tab12">Step 12 <!-- Wiring / Plumbing / Exhaust --></label>

            <input type="radio" id="tab13" name="tabGroup1" class="tab">
            <label for="tab13">Step 13 <!-- Tuning and Validation --></label>

        <div class="tab__content">
            <h2>Step 1: Build spec / design</h2>
            <div class="columns">
                <div class="column">
                    {% image "./src/_images/67_dart_vader_graffiti.jpg", "67 Dart Vader" %}
                </div>
                <div class="column">
                    <p>For a full custom build this may be the most important part of the process as it gives the project a vision to move forward. We’ll not only spec the nuts and bolts components like engine and transmission, suspension, cooling and fuel systems - but also define the stance, body modifications, color and interior designs. We work with each client to realize their vision and our professional design team will offer a set of drawings that brings tasteful mods that will stand the test of time.</p>
                    <p>Just like that guy on TV we provide a set of drawings done by hand that work through the design vision and choices that influence the entire build. We start with a line drawing from several views of the stock vehicle - then through a series of loose sketches we refine the stance, wheel choice and modification ideas. Ultimately after several design reviews with you we refine the design to a set of finished renderings that show what the whole package will look like in the end. It’s a fun process!</p>
                </div>
            </div>
        </div>
    
        <div class="tab__content">
          <h2>Step 2: Disassembly / Media blast / condition assessment</h2>
          <div class="columns">
              <div class="column">
                  {% image "./src/_images/7x_Chevelle_engine_shop.jpg", "67 Dart Vader" %}
              </div>
              <div class="column">
                  <p>The first thing we do is completely disassemble the car. Every nut, bolt, piece of glass, wires, piece of trim is removed, cataloged and marked. Along the way we take notes for broken bolts, missing parts etc. From here we start a list of what we will need to complete your job in detail. Once the car is back from the media blaster - We will assess body damage and metalwork required - and which panels will be replaced or repaired.</p>
              </div>
          </div>
        </div>
    
        <div class="tab__content">
          <h2>Step 3: Metalwork / Modification / Pre-assembly & Fit</h2>
          <div class="columns">
              <div class="column">
                  {% image "./src/_images/014-plymouth-valiant-fender-door-gap.jpg", "67 Dart Vader" %}
              </div>
              <div class="column">
                  <p>In this step we repair (or replace) all the damaged sheet metal and pre-assemble the car to fit all the panels either on the chassis or on a build stand and refine all the gaps for doors, fenders, trunk and hood. Even new reproduction panels sometimes require significant modifications in metal to ensure proper fit.</p>
                  <p>If we’re doing body modifications we do them all in this step and fully build the basic car with these mods to ensure all the panels fit and all the holes we don’t need and components we are changing fit. Sometimes we may fully build the car with the engine and transmission and even suspension so that all the modification can be done without any risk of scratching paint.</p>
              </div>
          </div>
        </div>


        <div class="tab__content">
            <h2>Step 4: Bodywork / Block Sand / Refinement</h2>
            <div class="columns">
                <div class="column">
                    {% image "./src/_images/30_Ford_Model_A.jpg", "67 Dart Vader" %}
                </div>
                <div class="column">
                    <p>Bodywork / Filler: Once everything is fit and we’re happy with the panel gaps and mods in metal we do our body filler work - We don’t call it “Bondo” and it’s not a bad word. Filler work is required to get the surface of all body panels closer to where we need them to be. Done properly, this filler can last 50+ years without issues.  Can we metalwork your car without using any filler? Totally - but that’s easily 800-1000 hours of labor to get there. Using modern body fillers - and making sure that our metalwork is within 1/16” or less we can get the same or better results in less time.</p>
                </div>
            </div>
        </div>


        <div class="tab__content">
            <h2>Step 5: Prime and Block Sand</h2>
            <section id="endpoints--root">
                <div class="columns">
                    <div class="column">
                        {% image "./src/_images/56_Studebaker_Hawk.jpg", "67 Dart Vader" %}
                    </div>
                    <div class="column">
                        <h3>5.1: Prime round 1</h3>
                        <p>We follow bodywork with an overall epoxy primer on every surface inside and out and apply a high build primer directly to the epoxy. This encapsulates the metal and filler bonding through and gives us a build of primer to start our block sanding work.</p>
                    </div>
                </div>
            </section>
            <section id="endpoints--cities-overview">
                <div class="columns">
                    <div class="column">
                        {% image "./src/_images/63_Corvette_dk_blue.jpg", "67 Dart Vader" %}
                    </div>
                    <div class="column">
                        <h3>5.2: Block sanding and finish body work</h3>
                        <p>After primer we will re-assemble the panels and hand block sand with long-boards in 120 / 180 grit finish. At this stage we further refine the lines and bodywork to make every panel and gap laser straight and smooth.</p>
                    </div>
                </div>
            </section>
            <section id="endpoints--city-detail">
                <div class="columns">
                    <div class="column">
                        {% image "./src/_images/63_Corvette_dk_blue.jpg", "67 Dart Vader" %}
                    </div>
                    <div class="column">
                        <h3>5.3: Prime round 2</h3>
                        <p>Here we re-prime the entire exterior again after a clean and mask to fill in all the 180 grit sand scratches and build another layer of primer for further surface refinements. Here we spray a medium build surfacing primer after a thorough cleaning.</p>
                    </div>
                </div>
            </section>
            <section id="endpoints--city-config">
                <div class="columns">
                    <div class="column">
                        {% image "./src/_images/63_Corvette_dk_blue.jpg", "67 Dart Vader" %}
                    </div>
                    <div class="column">
                        <h3>5.4: Block sand… Again</h3>
                        <p>Now we switch to block sanding with 220 / 320 grit paper by hand again using longboards. This further smooths the surface of the primer and allows us to get all the final lines and finish very smooth.</p>
                    </div>
                </div>
            </section>
        </div>

        <div class="tab__content">
            <h2>Step 6: Final Paint Prep</h2>
            <div class="columns">
                <div class="column">
                    {% image "./src/_images/65_Mercury_Comet05.jpg", "67 Dart Vader" %}
                </div>
                <div class="column">
                    <p>6.1: Final prime / Sealer: This is our final primer stage. At this point the car is taken back apart and a sealer coat is applied to all outside and inside surfaces. This final coat locks everything down and is what the base coat and clear coat will be applied to. We also use this last seal step to apply any urethane seam sealer to panel overlaps and seams.</p>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    {% image "./src/_images/66_Chevelle03.jpg", "67 Dart Vader" %}
                </div>
                <div class="column">
                    <p>6.7: Final sand: After the sealer is applied, we wet sand all of the panels 600/800 grit to remove any “Orange Peel” and imperfections from the sealer coat and allow the scratches from this sanding round to act as the mechanical bond for the paint and clear coat.</p>
                </div>
            </div>
        </div>


        <div class="tab__content">
            <h2>Step 7: Final fit / Mock-up</h2>
            <div class="columns">
                <div class="column">
                    {% image "./src/_images/67_Camaro_shocks.jpg", "67 Dart Vader" %}
                </div>
                <div class="column">
                    <p>If we’re spraying a metallic color on the car - at this point we will paint and clear coat the inside of the panels and the door jambs, fender and trunk jambs so that we can spray the car together. This is an important step for metallic paints as when the base coat comes out of the gun - we want to ensure that the flakes are oriented in the right direction from fender to door, door to quarter panels, etc. On solid color cars with no metallic this is the only step we skip as we can just paint the panels and fit them after.</p>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    {% image "./src/_images/67_Camaro01.jpg", "67 Dart Vader" %}
                </div>
                <div class="column">
                    <p>7.1:  Clean and spray jambs: Clean everything 3x mask and spray all the insides of panels and the door jambs, fender jambs, and trunk jambs. We give everything 3 coats of base coat followed by 3-4 coats of high quality high solids clear coat.</p>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    {% image "./src/_images/67_Cuda_blue.jpg", "67 Dart Vader" %}
                </div>
                <div class="column">
                    <p>7.2: Assembly and panel align: After the jambs and insides are done - it’s time to put it all back together and align the panels for the metallic paint.  We’re sure you’ve seen cars that look like one panel is a bit “off” from the next - that’s because the shop skipped this step and painted a metallic color in pieces. The spray pattern needs to flow from panel to panel.</p>
                </div>
            </div>
        </div>



        <div class="tab__content">
            <h2>Step 8: Paint / Clear coat / Finish</h2>
            <div class="columns">
                <div class="column">
                    {% image "./src/_images/67_dart_vader_burnout.jpg", "67 Dart Vader" %}
                </div>
                <div class="column">
                    <p>It all comes down to this - All the work to get to this point has given us a solid foundation that is straight, smooth and ready to be finished. Most people think that we just sand a car real quick, prime it and spray on the paint - but in reality the actual painting process is the least labor intensive part of what we do. We do hundreds of hours of prep work to get here - and it’s under 20 hours of actual painting.  Here are the paint and finish steps we adhere to.</p>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    {% image "./src/_images/67_dart_vader_cover.jpg", "67 Dart Vader" %}
                </div>
                <div class="column">
                    <p>8.1: Clean, clean, clean again and mask: The spray booth needs to be cleaned and new filters installed. The car and body panels will be cleaned several times here. We can’t have any contaminants on the surface prior to paint. Any areas we are not painting are masked off.</p>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    {% image "./src/_images/67_dart_vader_graffiti.jpg", "67 Dart Vader" %}
                </div>
                <div class="column">
                    <p>8.2: Base coat and drop coat: We spray 3-4 coats of base coat - and for metallics do a final “drop coat” that ensures there is no striping or panel to panel issues with the metallics in the paint. We feature high quality paint products from Spies Hecker / Axalta for all of our  work.</p>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    {% image "./src/_images/67_dart_vader_headlights.jpg", "67 Dart Vader" %}
                </div>
                <div class="column">
                    <p>8.3: Clearcoat: The first phase of clear coat consists of 3-4 coats of clear coat applied with proper flash times between coats. This provides the shine over the base coat and protects it from the sun / elements.</p>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    {% image "./src/_images/67_GTO_red_carb.jpg", "67 Dart Vader" %}
                </div>
                <div class="column">
                    <p>8.4: Wet sand: After the initial 3-4 coats of clear are laid down - we wet sand all of the outside surfaces with 800-1000 grit sandpaper by hand with blocks to remove the “orange peel” texture, and any imperfections. This mechanical sanding provides us with a mechanical adhesion for the final flow coat.</p>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    {% image "./src/_images/67_gto_red_steering_wheel.jpg", "67 Dart Vader" %}
                </div>
                <div class="column">
                    <p>8.5: Flow coat This is the final step of clear coat. We add 2-3 additional coats of clear coat to the wet sanded surfaces to add more depth and shine. We add a little more reducer to the clear allowing it to “flow” and level better.</p>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    {% image "./src/_images/67_GTO_red.jpg", "67 Dart Vader" %}
                </div>
                <div class="column">
                    <p>8.6 Wet / dry sand for compound and polish: After the flow coat - the surface is smooth and glossy with little orange peel. But we take it a step further to make the surface smooth as a mirror. We start by wet sanding by hand with blocks the entire exterior 1,200 grit. We follow that up with 4 rounds of machine sanding using 1,500 grit, 2,000 grit, 2,500 grit and 3,000 grit.</p>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    {% image "./src/_images/67_GTO_wheel_brakes.jpg", "67 Dart Vader" %}
                </div>
                <div class="column">
                    <p>8.7: Compound and polish: the wet / dry sand process has left the surface of the clear smooth - but now we have to shine it all back up and remove the 3000 grit scratches. This process involves using compound and polish in 3 steps with a rotary and orbital buffer. This gives the clear coat that wet and glossy look that we’re all aiming for.</p>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    {% image "./src/_images/67_Nova_body_gaps02.jpg", "67 Dart Vader" %}
                </div>
                <div class="column">
                    <p>8.8: mask and spray urethane texture (optional): For many jobs - we also spray the inside, and underneath of the car with a urethane texture coat. This coating is similar to pickup truck bed liner and offers protection from road debris, as well as heat and sound insulation.</p>
                </div>
            </div>

        </div><!-- END tab__content Step 8 -->

        <div class="tab__content">
            <h2>Step 9: Exterior re-assembly</h2>
            <div class="columns">
                <div class="column">
                    {% image "./src/_images/67_Nova_body03.jpg", "67 Dart Vader" %}
                </div>
                <div class="column">
                    <p>Now that the paint work is all done - it’s time to install the chrome trim, stainless window moldings and bumpers, handles, door and window weatherstripping. We take great care not to scratch  all of our hard work putting the bright work back on. Glass will be installed at this point as well.</p>
                </div>
            </div>
        </div><!-- END tab__content Step 9 -->

        <div class="tab__content">
            <h2>Step 10: Mechanical Assembly</h2>
            <div class="columns">
                <div class="column">
                    {% image "./src/_images/67_Nova_exhaust01.jpg", "67 Dart Vader" %}
                </div>
                <div class="column">
                    <p>At this stage - the body and paint team hands the car over to the assembly team to put suspension brakes, engine, trans, etc back into the car. Since all the basic components have been fit already - we know there won’t be any surprises here.</p>
                </div>
            </div>
        </div><!-- END tab__content Step 10 -->

        <div class="tab__content">
            <h2>Step 11: Wiring / Plumbing / Exhaust</h2>
            <div class="columns">
                <div class="column">
                    {% image "./src/_images/67_Nova_rear_bumper02.jpg", "67 Dart Vader" %}
                </div>
                <div class="column">
                    <p>Once the components are all in place we do all of the plumbing, wiring and electrical work. Wiring and plumbing can be as tedious and time consuming as prepping for paint. If it’s a restoration - we’ll use the factory harness or a reproduction and materials and routing similar to how the car was built. If we’re doing a Resto-Mod we will hide what we can and go to great lengths to make the harness neat, tidy and serviceable. The final part is usually exhaust - Whether a factory system or fully custom tig welded system or anything in-between. If we’re doing a stereo, or air conditioning - Wei’ll install it now as well.</p>
                </div>
            </div>
        </div><!-- END tab__content Step 11 -->

        <div class="tab__content">
            <h2>Step 12: Interior finish</h2>
            <div class="columns">
                <div class="column">
                    {% image "./src/_images/67_Nova_suspension03.jpg", "67 Dart Vader" %}
                </div>
                <div class="column">
                    <p>Once all the paint, mechanicals and electrical is complete - it’s off to interior for things like seat upholstery, headliner, carpet, door panels and the like. We will either send this out if it’s a full custom job to our preferred interior trim shop - or do some or all of it in house. Full custom jobs may take an interim step before paint to have panels fabricated then finished off and installed when the mechanicals and paint are complete.</p>
                </div>
            </div>
        </div><!-- END tab__content Step 12 -->

        <div class="tab__content">
            <h2>Step 13: Tuning and Validation</h2>
            <div class="columns">
                <div class="column">
                    {% image "./src/_images/67_Nova_wilwood_brakes3.jpg", "67 Dart Vader" %}
                </div>
                <div class="column">
                    <p>Once the car is finished - it’s not over. The final steps are to start the engine, tune the carb and timing (or ECU in the case of a car with a modern engine swap) and test drive. We want to get a few miles on the car, and look everything over once more to make sure there are no issues, leaks, loose fasteners, etc. In the case of a full build we’ll want to put a minimum of 500 miles on the car and service it again before we hand you the keys. We know you’ve waited a long time to get here and are excited - but let us make sure it’s as close to 100 percent as it can be.</p>
                </div>
            </div>
        </div><!-- END tab__content Step 13 -->



      </div><!-- END tab-wrap -->
    </div><!-- END tab-container-->

</section>










<style>

/* 1. Enable smooth scrolling */
html {
	scroll-behavior: smooth;
}

/* 2. Make nav sticky */
main > nav {
	position: sticky;
	top: 2rem;
	align-self: start;
}

/* 3. ScrollSpy active styles (see JS tab for activation) */
.section-nav li.active > a {
	color: #333;
	font-weight: 500;
}

/* Sidebar Navigation */
.section-nav {
	padding-left: 0;
	border-left: 1px solid #efefef;
}

.section-nav a {
	text-decoration: none;
	display: block;
	padding: .125rem 0;
	color: #ccc;
	transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
}

.section-nav a:hover,
.section-nav a:focus {
	color: #666;
}


li {
	margin-left: 1rem;
}

h1 {
	font-weight: 300;
}

/** page layout **/
main {
	display: flex;
	/* grid-template-columns: 1fr 15em; */
	max-width: 100em;
	width: 90%;
	margin: 0 auto;
}
.scroll-cont {
    width: 100%;
}


</style>




<section class="horz-accordion">


<main>
	<div class="scroll-cont">
		<section id="introduction">
			<h2>Step 1: Build spec / design</h2>
            <div class="columns">
                <div class="column">
                    {% image "./src/_images/67_dart_vader_graffiti.jpg", "67 Dart Vader" %}
                </div>
                <div class="column">
                    <p>For a full custom build this may be the most important part of the process as it gives the project a vision to move forward. We’ll not only spec the nuts and bolts components like engine and transmission, suspension, cooling and fuel systems - but also define the stance, body modifications, color and interior designs. We work with each client to realize their vision and our professional design team will offer a set of drawings that brings tasteful mods that will stand the test of time.</p>
                    <p>Just like that guy on TV we provide a set of drawings done by hand that work through the design vision and choices that influence the entire build. We start with a line drawing from several views of the stock vehicle - then through a series of loose sketches we refine the stance, wheel choice and modification ideas. Ultimately after several design reviews with you we refine the design to a set of finished renderings that show what the whole package will look like in the end. It’s a fun process!</p>
                </div>
            </div>
		</section>
		<section id="request-response">
			<h2>Step 2: Disassembly / Media blast / condition assessment</h2>
            <div class="columns">
                <div class="column">
                    {% image "./src/_images/7x_Chevelle_engine_shop.jpg", "67 Dart Vader" %}
                </div>
                <div class="column">
                    <p>The first thing we do is completely disassemble the car. Every nut, bolt, piece of glass, wires, piece of trim is removed, cataloged and marked. Along the way we take notes for broken bolts, missing parts etc. From here we start a list of what we will need to complete your job in detail. Once the car is back from the media blaster - We will assess body damage and metalwork required - and which panels will be replaced or repaired.</p>
                </div>
            </div>
		</section>
		<section id="authentication">
			<h2>Step 3: Metalwork / Modification / Pre-assembly & Fit</h2>
            <div class="columns">
                <div class="column">
                    {% image "./src/_images/014-plymouth-valiant-fender-door-gap.jpg", "67 Dart Vader" %}
                </div>
                <div class="column">
                    <p>In this step we repair (or replace) all the damaged sheet metal and pre-assemble the car to fit all the panels either on the chassis or on a build stand and refine all the gaps for doors, fenders, trunk and hood. Even new reproduction panels sometimes require significant modifications in metal to ensure proper fit.</p>
                    <p>If we’re doing body modifications we do them all in this step and fully build the basic car with these mods to ensure all the panels fit and all the holes we don’t need and components we are changing fit. Sometimes we may fully build the car with the engine and transmission and even suspension so that all the modification can be done without any risk of scratching paint.</p>
                </div>
            </div>
		</section>
		<section id="Step4">
			<h2>Step 4: Bodywork / Block Sand / Refinement</h2>
            <div class="columns">
                <div class="column">
                    {% image "./src/_images/30_Ford_Model_A.jpg", "67 Dart Vader" %}
                </div>
                <div class="column">
                    <p>Bodywork / Filler: Once everything is fit and we’re happy with the panel gaps and mods in metal we do our body filler work - We don’t call it “Bondo” and it’s not a bad word. Filler work is required to get the surface of all body panels closer to where we need them to be. Done properly, this filler can last 50+ years without issues.  Can we metalwork your car without using any filler? Totally - but that’s easily 800-1000 hours of labor to get there. Using modern body fillers - and making sure that our metalwork is within 1/16” or less we can get the same or better results in less time.</p>
                </div>
            </div>
		</section>


        
		<section id="endpoints">
			<h2>Step 5: Prime and Block Sand</h2>
			<section id="endpoints--root">
				<h3>5.1: Prime round 1</h3>
                <p>We follow bodywork with an overall epoxy primer on every surface inside and out and apply a high build primer directly to the epoxy. This encapsulates the metal and filler bonding through and gives us a build of primer to start our block sanding work.</p>
			</section>
			<section id="endpoints--cities-overview">
				<h3>5.2: Block sanding and finish body wor</h3>
				<p>After primer we will re-assemble the panels and hand block sand with long-boards in 120 / 180 grit finish. At this stage we further refine the lines and bodywork to make every panel and gap laser straight and smooth.</p>
			</section>
			<section id="endpoints--city-detail">
				<h3>5.3: Prime round 2</h3>
				<p>Here we re-prime the entire exterior again after a clean and mask to fill in all the 180 grit sand scratches and build another layer of primer for further surface refinements. Here we spray a medium build surfacing primer after a thorough cleaning.</p>
			</section>
			<section id="endpoints--city-config">
				<h3>5.4: Block sand… Again</h3>
				<p>Now we switch to block sanding with 220 / 320 grit paper by hand again using longboards. This further smooths the surface of the primer and allows us to get all the final lines and finish very smooth.</p>
			</section>
			<section id="endpoints--city-spots-overview">
				<h3>City Spots Overview</h3>
				<p>…</p>
			</section>
			<section id="endpoints--city-spot-detail">
				<h3>City Spot Detail</h3>
				<p>…</p>
			</section>
			<section id="endpoints--city-icons-overview">
				<h3>City Icons Overview</h3>
				<p>…</p>
			</section>
			<section id="endpoints--city-icon-detail">
				<h3>City Icon Detail</h3>
				<p>…</p>
			</section>
		</section>
		<section id="links">
			<h2>Links</h2>
			<p>…</p>
		</section>
		<section id="expanders">
			<h2>Expanders</h2>
			<p>…</p>
		</section>
		<section id="filters">
			<h2>Filters</h2>
			<p>…</p>
		</section>
	</div>
	<nav class="section-nav">
		<ol>
			<li><a href="#introduction">Step 1: Build spec / design</a></li>
			<li><a href="#request-response">Step 2: Disassembly / Media blast / condition assessment</a></li>
			<li><a href="#authentication">Step 3: Metalwork / Modification / Pre-assembly & Fit</a></li>
            <li><a href="#Step4">Step 4: Bodywork / Block Sand / Refinement</a></li>
            
			<li><a href="#endpoints">Step 5: Prime and Block Sand</a>
				<ul>
					<li class=""><a href="#endpoints--root">5.1: Prime round 1</a></li>
					<li class=""><a href="#endpoints--cities-overview">5.2: Block sanding and finish body work</a></li>
					<li class=""><a href="#endpoints--city-detail">5.3: Prime round 2</a></li>
					<li class=""><a href="#endpoints--city-config">5.4: Block sand… Again</a></li>
				</ul>
			</li>
			<li class=""><a href="#links">Links</a></li>
			<li class=""><a href="#expanders">Expanders</a></li>
			<li class=""><a href="#filters">Filters</a></li>
		</ol>
	</nav>
</main>


</section>





<script>

window.addEventListener('DOMContentLoaded', () => {

const observer = new IntersectionObserver(entries => {
    entries.forEach(entry => {
        const id = entry.target.getAttribute('id');
        if (entry.intersectionRatio > 0) {
            document.querySelector(`nav li a[href="#${id}"]`).parentElement.classList.add('active');
        } else {
            document.querySelector(`nav li a[href="#${id}"]`).parentElement.classList.remove('active');
        }
    });
});

// Track all sections that have an `id` applied
document.querySelectorAll('section[id]').forEach((section) => {
    observer.observe(section);
});

});

</script>

{% endblock secHorzAccordion %}