{% block secCarsAll %}

    {% set heroSlides = carsAll %}

<section class="carousel-cars">
  <div class="container">
    <h3>Cars we've had Our Hands on</h3>
    <div id="all-carousel-cars" class="swiffy-slider slider-item-helper slider-item-show4 slider-item-reveal slider-item-snapstart slider-item-nogap">
        <ul class="slider-container">
{% for heroSlides, item in heroSlides %}
  {%set pageSlideP = "./src/" %}
  {%set imgSlideP = item.image %}
  {%set fullSlideP = pageSlideP+imgSlideP %}
  {% set imgSlideAlt = item.altText %}
  {% set imgSlidePos = item.position %}
  {% set imgSizesResp = "12" %}
            <li>
              <div class="slide-box">
                <a href="/cars">
        {% if item.image|length %}
            {% image ""+fullSlideP, ""+imgSlideAlt, ""+imgSlidePos, ""+imgSizesResp %}
        {% endif %}
                <div class="feat-item_overlay">
                  <div class="feat-item_overlay_body">
                    <div class="logo-bkg-stripe">
                      <figure>
                    {% if item.title|length %}
                        <h3>{{ item.title }}</h3>
                    {% endif %}
                      </figure>
                    </div>
                  </div>
                </div>
                </a>
              </div>
            </li><!-- END slide {{ loop.index }} -->
{% endfor %}

        </ul>
  
        <button type="button" class="slider-nav"></button>
        <button type="button" class="slider-nav slider-nav-next"></button>
  
        <div class="slider-indicators">
            <button class="active"></button>
            <button></button>
            <button></button>
        </div>
      </div><!-- END swiffy-slider -->

    </div>
  </section>
<!-- END carousel-cars section -->

{% endblock secCarsAll %}