{% block secFAQs %}

{% for cont in sectionCont %}
  {% set imgP = cont.image %}  {# 67camaro_forsyth-0608.jpg = image file name #}
  {% set imgAlt = cont.altText %}  {# 67 Camaro Forsyth before rear = sets imgAlt var with alt text string #}
  {% set imgBkgP = cont.bkgImage %}

    {% if cont.pattern == "sec-faq-accordion" %}

<!-- START accordion -->
<section class="faq-accordion">
  <div class="container">
    <div class="accordion v1">

      {% for item in cont.qaCont %}

      <div class="a-container">
        <div class="a-btn">
          <div class="rnd-orng">
            <span>Q</span>
          </div>
        {% if item.que|length %}
            {{ item.que }}
        {% endif %}
         <span></span>
        </div>
        <div class="a-panel">
          <div class="rnd-orng">
            <span>A</span>
          </div>
            <p>
            {% if item.ans|length %}
                {{ item.ans }}
            {% endif %}
            </p>
        </div>
      </div>

      {% endfor %}

    </div>

  </div>
</section>
<!-- END accordion -->


    {% endif %}
{% endfor %}

{% endblock secFAQs %}