{% block secCont02 %}

    <section class="top first services half-split"><!-- START sectionStart: {{ sectionStart }}-->
      <div class="container">

{% for cont in sectionCont %}

    {% set imgPostP = cont.image %}
    {% set imgPostAlt = cont.altText %}
    {% set imgSizesResp = "(min-width: 1420px) 660px, 
    (min-width: 1220px) 564px, 
    (min-width: 1040px) 468px, 
    (min-width: 780px) 50vw, 
    calc(100vw - 24px)"
    %}
    {% set imgBkgP = cont.bkgImage %}
    {% set imgSlidePos = "cont-img" %}

    {% if cont.pattern == "sec-2col-pos2" %}
        {# check if even or odd #}
        {# loop.index(1) = index.md so loop.index(2) = brake-upgrades01.md  so 2/2 = 1 TRUE even  #}

        {% if (loop.index)%2 == 0 %}  {# loop.index(4)%2 = 0 EVEN   loop.index(5)%2 = 1 ODD #}

        <div class="columns"><!-- section:{{ loop.index }} -->
            <div class="column">
                <figure class="image">
                    {% if imgPostP | length %}
                        {% image ""+imgPostP, ""+imgPostAlt, ""+imgSlidePos, ""+imgSizesResp %}
                    {% endif %}
                </figure>
            </div>
            <div class="column">
                <div class="half-split-cont">
                {% if cont.title|length %}
                    <h3>{{ cont.title }}</h3>
                {% endif %}
                {% if cont.text|length %}
                    {{ cont.text | safe }}
                {% endif %}
                </div>
                {% if cont.CTAlabel|length %}
                <div class="control">
                    <div class="button is-primary slant js-modal-trigger" data-target="modal-js-example"><h4>{{ cont.CTAlabel }}</h4></div>
                </div>
                {% endif %}
            </div>
        </div>

        {% else %}
<!-- odd -->
        <div class="columns"><!-- section:{{ loop.index }} -->
            <div class="column">
              <div class="half-split-cont">
                {% if cont.title|length %}
                    <h3>{{ cont.title }}</h3>
                {% endif %}
                {% if cont.text|length %}
                    {{ cont.text | safe }}
                {% endif %}
                {% if cont.CTAlabel|length %}
                <div class="control">
                    <div class="button is-primary slant js-modal-trigger" data-target="modal-js-example"><h4>{{ cont.CTAlabel }}</h4></div>
                </div>
                {% endif %}
              </div>
            </div>

            <div class="column">
                <figure class="image">
                    <!-- loop:{{ loop.index }} imgPostP: {{ imgPostP }} -->
                    {% if imgPostP | length %}
                        {% image ""+imgPostP, ""+imgPostAlt, ""+imgSlidePos, ""+imgSizesResp %}
                    {% endif %}
                    </figure>
            </div>
          </div>        

        {% endif %}

    {% endif %}

<!-- END sec-2col -->
{% endfor %}

      </div>
    </section><!-- {{ loop.index }} END top services half-split -->








    {% endblock secCont02 %}