---
title: Services
eleventyNavigation:
  key: Services
  title: Services
  order: 1
description: Driven Garage nothern California restomod auto customization and repair shop
featuredImage: /_images/67_dart_vader_graffiti.jpg

---

  {% include "head.njk" %}

  <body class="is-flex is-flex-direction-column">

    {% include "nav.njk" %}

<section class="hero-services">
    <div class="halftone-overlay"></div>
    <div class="sec-bkg-img">
      <img src="{{ rootPath }}_images/65_Mustang_quick_service.jpg" alt="65 Mustang quick service">
    </div>
    <div class="hero-body is-overlay">
        <div class="container">
            <h1 class="title">Services</h1>
        </div>
    </div>
</section>


<section class="section is-flex-grow-1">

    {% topPostMinimalAd %}

   <div class="container">

     {{ content | safe }}

     {% bottomContentPostMinimalAd %}

   </div>

 </section>





 <style> 
    .serv-row {
        display:flex;
        justify-content:space-between;
        background-color: cadetblue;
    }
    .serv-row .col-left-cont,
    .serv-row  .col-right-cont {
        flex: 0 0 50%;
    }
    .serv-row .col-left-cont {
        padding: 0.4rem 0 0 6rem;
        background-color: #eeeeee;
    }

    .serv-row  .col-right-cont {
        padding: 0.4rem 0 0 3rem;
        background-color: #979797;  /* 7d7d7d */
    }


    .serv-row figure {
        flex: 0 0 50%;
        padding:0;
        position: relative;
        overflow: hidden;
    }
    .serv-row figure img {
        position: absolute;
        left: 0;
        top: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
    }
    .serv-row ul {
        margin: 0.4rem 0 4rem 0;
        /* list-style: disc; */
        list-style: none;
        padding: 0 0 0 1rem;
    }
    .col-left-cont.performance-list li {
        margin: 0 0 0 2rem;
        color: #f79837;
        font-size: 1.06rem;
        font-weight: 500;
    }
    .serv-row ul li {
        font-size: 1.2rem;
        color: #000;
    }
    .serv-row ul li::before {
        content: "\2022";
        color: #f79837;
        font-weight: bold;
        display: inline-block;
        width: 1rem;
        margin-left: -1rem;
    }


    .col-left-cont.performance-list ul ul {
        margin: 0.2rem 0 1rem 0;
    }
    .col-left-cont.performance-list ul ul li {
        font-size: 0.9rem;
        color: #000;
    }
    .col-left-cont.performance-list ul ul li::before {
        color: #000;
    }

 </style>

<section class="services-column">

    <div class="serv-row">
        <figure>
            <img src="{{ rootPath }}_images/65_Mustang_quick_service.jpg" alt="65 Mustang quick service"  style="object-position: 0px -340px;">
        </figure>
        <div class="col-right-cont">
            <h1 class="title">Repair & Maintenance</h1>
            <ul>
                <li>General repair</li>
                <li>Classic car oil changes</li>
                <li>Carb tuning and timing</li>
            </ul>
        </div>
    </div><!-- END 1 serv-row -->

    <div class="serv-row"><!-- START 2 serv-row -->
        <div class="col-left-cont performance-list">
            <h1 class="title">Performance Upgrades</h1>
<!-- START Performance columns list-->

<div class="columns">
    <div class="column">
        <ul>
            <li>Engine swaps</li>
            <ul>
                <li>LS swaps</li>
                <li>Upgrades</li>
                <li>Other Modern Engines</li>
            </ul>
            <li>Power Steering Conversions</li>
            <ul>
                <li>Hydraulic steering</li>
                <li>Electric steering</li>
            </ul>
            <li>Transmission swaps</li>
            <ul>
                <li>Automatic swaps</li>
                <li>Manual Conversions</li>
            </ul>
            <li>Rear end / gears</li>
            <ul>
                <li>Gearing changes / re-builds</li>
                <li>Positraction upgrades</li>
                <li>Axle Narrowing service</li>
            </ul>

            
        </ul>
    </div><!-- END 1 column -->
    <div class="column"><!-- START 2 column -->
        <ul>
            <li>EFI conversions</li>
            <ul>
                <li>Holley Sniper packages</li>
                <li>Port Injection</li>
            </ul>
            <li>Suspension upgrades</li>
            <ul>
                <li>Handling packages</li>
                <li>Coil-over conversions</li>
                <li>Air Ride</li>
                <li>Custom nabbed suspension</li>
                <li>Truck Lift kits</li>
            </ul>
            <li>Power Adders</li>
            <ul>
                <li>Superchargers</li>
                <li>Turbos</li>
                <li>Nitrous</li>
            </ul>
            <li>AC System installations</li>
            <li>Serpentine Conversions</li>

        </ul>
    </div><!-- END 2 column -->
    <div class="column"><!-- START 3 column -->
        <ul>
            <li>Brake Upgrades</li>
            <ul>
                <li>Disc Brake conversions</li>
                <li>Manual to Power brake</li>
                <li>Hydroboost</li>
                <li>Big Brake kits</li>
                <li>Parking Brake</li>
            </ul>
            <li>Cooling Upgrades</li>
            <ul>
                <li>Radiator swaps</li>
                <li>Electric fans & Controllers</li>
            </ul>
            <li>Wiring and electrical</li>
            <ul>
                <li>Electrical Repair</li>
                <li>Complete re-wire</li>
                <li>LED light conversions</li>
            </ul>
            <li>Custom wheels and tires</li>
        </ul>


    </div><!-- END 3 column -->
</div><!-- END columns -->

<!-- END Performance columns list -->
        </div>

        <figure>
            <img src="{{ rootPath }}_images/67_Camaro01.jpg" alt="67 Camaro engine" loading="lazy" style="object-position: 0px 0px;">
        </figure>


    </div><!-- END 2 serv-row -->

    <div class="serv-row"><!-- START 3 serv-row -->
        <figure>
            <img src="{{ rootPath }}_images/55buick-6220.jpg" alt="55 Buick" loading="lazy" style="object-position: 0px -190px;">
        </figure>
        <div class="col-right-cont">
            <h1 class="title">Body, Paint & Metalwork</h1>
            <div class="columns">
                <div class="column">
                    <ul>
                        <li>Paint and body</li>
                        <li>Classic Car collision repair</li>
                        <li>Insurance work on custom / Classic cars</li>
                    </ul>
                </div>
                <div class="column">
                    <ul>
                        <li>Metalwork / Rust repair</li>
                        <li>Custom paint</li>
                    </ul>
                </div>
            </div>

        </div>
    </div><!-- END 3 serv-row -->



    <div class="serv-row"><!-- START 4 serv-row -->
        <div class="col-left-cont">
            <h1 class="title">Custom Fabrication</h1>
            <div class="columns">
                <div class="column">
                    <ul>
                        <li>Exhaust</li>
                        <li>Custom Brackets</li>
                    </ul>
                </div>
                <div class="column">
                    <ul>
                        <li>Custom styling</li>
                        <li>Suspension</li>
                    </ul>
                </div>
            </div>
        
        </div>
        <figure>
            <img src="{{ rootPath }}_images/Exhaust_custom_stainless.jpg" alt="Exhaust custom stainless" loading="lazy" style="object-position: 0px -470px;">
        </figure>
    </div><!-- END 4 serv-row -->
    


    <div class="serv-row"><!-- START 5 serv-row -->
        <figure>
            <img src="{{ rootPath }}_images/70_Mustang03_radio.jpg" alt="70 Mustang03 radio" loading="lazy" style="object-position: 0px -280px;">
        </figure>
        <div class="col-right-cont">
            <h1 class="title">Car Audio and Alarms</h1>
            <div class="columns">
                <div class="column">
                    <ul>
                        <li>Classic car stereo installs</li>
                        <li>High end audio</li>
                    </ul>
                </div>
                <div class="column">
                    <ul>
                        <li>Alarms with tracking</li>
                        <li>Immobilization devices</li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- END 5 serv-row -->


    <div class="serv-row"><!-- START 6 serv-row -->
        <div class="col-left-cont">
            <h1 class="title">Detailing</h1>
            <div class="columns">
                <div class="column">
                    <ul>
                        <li>Paint Correction</li>
                    </ul>
                </div>
                <div class="column">
                    <ul>
                        <li>Ceramic coating</li>
                    </ul>
                </div>
            </div>
        </div>
        <figure>
            <img src="{{ rootPath }}_images/68_Dart_pinstripe.jpg" alt="Mopar muscle prime 6082" loading="lazy" style="object-position: 0px -140px;">
        </figure>
    </div><!-- END 6 serv-row -->



    
</section><!-- END services-column -->



<section class="services-listing">


    <div class="container">
        <div class="halftone-overlay"></div>
        <div class="sec-bkg-img">
          <img src="{{ rootPath }}_images/65_Mustang_quick_service.jpg" alt="65 Mustang quick service">
        </div>
        <div class="hero-body is-overlay">
            <div class="container">
                <div class="columns">
                    <div class="column is-one-third">
                        <h1 class="title">Repair & Maintenance</h1>
                    </div>
                    <div class="column is-two-third">

                        <div class="columns">
                            <div class="column" style="background: rgba(255,255,255,.70);">
                                <ul>
                                    <li>General repair</li>
                                    <li>Classic car oil changes</li>
                                    <li>Carb tuning and timing</li>
                                </ul>
                            </div>
                            <div class="column" style="background: rgba(255,255,255,.70);">
                                <ul>
                                    <li>Pre-Purchase inspections</li>
                                    <li>Get it running</li>
                                    <li>Electrical Repair</li>
                                </ul>
                            </div>
                        </div>

                    </div><!-- END column is-two-third -->
                </div>

            </div>
        </div><!-- END hero-body is-overlay -->

    </div><!-- END container 1 row -->








<!-- TESTING Performance contained -->


    <div class="container perf-long">
        <div class="halftone-overlay"></div>
        <div class="sec-bkg-img">
          <img src="{{ rootPath }}_images/65_Mustang_quick_service.jpg" alt="65 Mustang quick service">
        </div>
        <div class="hero-body is-overlay">
            <div class="container">
                <div class="columns">
                    <div class="column is-one-third">
                        <h1 class="title">Performance Upgrades</h1>
                    </div>
                    <div class="column is-two-third">


                        <div class="columns">
                            <div class="column">
                                <ul>
                                    <li>Engine swaps</li>
                                    <ul>
                                        <li>LS swaps</li>
                                        <li>Upgrades</li>
                                        <li>Other Modern Engines</li>
                                    </ul>
                                    <li>Power Steering Conversions</li>
                                    <ul>
                                        <li>Hydraulic steering</li>
                                        <li>Electric steering</li>
                                    </ul>
                                    <li>Transmission swaps</li>
                                    <ul>
                                        <li>Automatic swaps</li>
                                        <li>Manual Conversions</li>
                                    </ul>
                                    <li>Rear end / gears</li>
                                    <ul>
                                        <li>Gearing changes / re-builds</li>
                                        <li>Positraction upgrades</li>
                                        <li>Axle Narrowing service</li>
                                    </ul>
                
                                    
                                </ul>
                            </div><!-- END 1 column -->
                            <div class="column"><!-- START 2 column -->
                                <ul>
                                    <li>EFI conversions</li>
                                    <ul>
                                        <li>Holley Sniper packages</li>
                                        <li>Port Injection</li>
                                    </ul>
                                    <li>Suspension upgrades</li>
                                    <ul>
                                        <li>Handling packages</li>
                                        <li>Coil-over conversions</li>
                                        <li>Air Ride</li>
                                        <li>Custom nabbed suspension</li>
                                        <li>Truck Lift kits</li>
                                    </ul>
                                    <li>Power Adders</li>
                                    <ul>
                                        <li>Superchargers</li>
                                        <li>Turbos</li>
                                        <li>Nitrous</li>
                                    </ul>
                                    <li>AC System installations</li>
                                    <li>Serpentine Conversions</li>
                
                                </ul>
                            </div><!-- END 2 column -->
                            <div class="column"><!-- START 3 column -->
                                <ul>
                                    <li>Brake Upgrades</li>
                                    <ul>
                                        <li>Disc Brake conversions</li>
                                        <li>Manual to Power brake</li>
                                        <li>Hydroboost</li>
                                        <li>Big Brake kits</li>
                                        <li>Parking Brake</li>
                                    </ul>
                                    <li>Cooling Upgrades</li>
                                    <ul>
                                        <li>Radiator swaps</li>
                                        <li>Electric fans & Controllers</li>
                                    </ul>
                                    <li>Wiring and electrical</li>
                                    <ul>
                                        <li>Electrical Repair</li>
                                        <li>Complete re-wire</li>
                                        <li>LED light conversions</li>
                                    </ul>
                                    <li>Custom wheels and tires</li>
                                </ul>
                
                
                            </div><!-- END 3 column -->
                        </div><!-- END columns -->

                    </div><!-- END column is-two-third -->
                </div>

            </div>
        </div><!-- END hero-body is-overlay -->

    </div><!-- END container 1 row -->

<!-- END - TESTING Performance contained -->



    <div class="container"><!-- START container 3 row -->
        <div class="halftone-overlay"></div>
        <div class="sec-bkg-img">
        <img src="{{ rootPath }}_images/55buick-6220.jpg" alt="55 Buick" loading="lazy" style="object-position: 0px 320px;">
        </div>
        <div class="hero-body is-overlay">
            <div class="container">
                <div class="columns">
                    <div class="column is-one-third">
                        <h1 class="title">Body, Paint & Metalwork</h1>
                    </div>
                    <div class="column is-two-third">

                        <div class="columns">
                            <div class="column">
                                <ul>
                                    <li>Paint and body</li>
                                    <li>Classic Car collision repair</li>
                                    <li>Insurance work on custom / Classic cars</li>
                                </ul>
                            </div>
                            <div class="column">
                                <ul>
                                    <li>Metalwork / Rust repair</li>
                                    <li>Custom paint</li>
                                </ul>
                            </div>
                        </div>

                    </div><!-- END column is-two-third -->
                </div>

            </div>
        </div><!-- END hero-body is-overlay -->

    </div><!-- END container 3 row -->



    <div class="container"><!-- START container 4 row -->
        <div class="halftone-overlay"></div>
        <div class="sec-bkg-img">
        <img src="{{ rootPath }}_images/Exhaust_custom_stainless.jpg" alt="Exhaust custom stainless" loading="lazy">
        </div>
        <div class="hero-body is-overlay">
            <div class="container">
                <div class="columns">
                    <div class="column is-one-third">
                        <h1 class="title">Custom Fabrication</h1>
                    </div>
                    <div class="column is-two-third">

                        <div class="columns">
                            <div class="column">
                                <ul>
                                    <li>Exhaust</li>
                                    <li>Custom Brackets</li>
                                </ul>
                            </div>
                            <div class="column">
                                <ul>
                                    <li>Custom styling</li>
                                    <li>Suspension</li>
                                </ul>
                            </div>
                        </div>

                    </div><!-- END column is-two-third -->
                </div>

            </div>
        </div><!-- END hero-body is-overlay -->

    </div><!-- END container 4 row -->



    <div class="container"><!-- START container 5 row -->
        <div class="halftone-overlay"></div>
        <div class="sec-bkg-img">
        <img src="{{ rootPath }}_images/70_Mustang03_radio.jpg" alt="70 Mustang03 radio" loading="lazy" style="object-position: 0px 240px;">
        </div>
        <div class="hero-body is-overlay">
            <div class="container">
                <div class="columns">
                    <div class="column is-one-third">
                        <h1 class="title">Car Audio and Alarms</h1>
                    </div>
                    <div class="column is-two-third">

                        <div class="columns">
                            <div class="column">
                                <ul>
                                    <li>Classic car stereo installs</li>
                                    <li>High end audio</li>
                                </ul>
                            </div>
                            <div class="column">
                                <ul>
                                    <li>Alarms with tracking</li>
                                    <li>Immobilization devices</li>
                                </ul>
                            </div>
                        </div>

                    </div><!-- END column is-two-third -->
                </div>

            </div>
        </div><!-- END hero-body is-overlay -->

    </div><!-- END container 5 row -->



    <div class="container"><!-- START container 6 row -->
        <div class="halftone-overlay"></div>
        <div class="sec-bkg-img">
        <img src="{{ rootPath }}_images/Mopar_muscle_prime-6082.jpg" alt="Mopar muscle prime 6082" loading="lazy" style="object-position: 0px 470px;">
        </div>
        <div class="hero-body is-overlay">
            <div class="container">
                <div class="columns">
                    <div class="column is-one-third">
                        <h1 class="title">Detailing</h1>
                    </div>
                    <div class="column is-two-third">

                        <div class="columns">
                            <div class="column">
                                <ul>
                                    <li>Paint Correction</li>
                                </ul>
                            </div>
                            <div class="column">
                                <ul>
                                    <li>Ceramic coating</li>
                                </ul>
                            </div>
                        </div>

                    </div><!-- END column is-two-third -->
                </div>

            </div>
        </div><!-- END hero-body is-overlay -->

    </div><!-- END container 6 row -->



</section>





    <section class="section is-flex-grow-1">

       {% topPostMinimalAd %}

      <div class="container articulo content">
<h3>incl: service-post</h3>




<ul>
  {%- for post in collections.postsFolder %}
  <li>
  <a href="{{ post.url }}">
  {{ post.data.title }}
  </a>
  </li>
  {%- endfor %}
</ul>

        {{ content | safe }}

        {% bottomContentPostMinimalAd %}

      </div>

    </section>


    {% include "footer.njk" %}
  </body>

</html>