---
title: Service Detail page

  tags:
  - apple
  - banana
  - soccer  
---

  {% include "head.njk" %}


  <body class="is-flex is-flex-direction-column">

    {% include "nav.njk" %}





    <section class="hero-services">
        <div class="halftone-overlay"></div>
        <div class="sec-bkg-img">

        {% if featuredImage %}
          <img src="{{ rootPath }}{{featuredImage}}" alt="{{title}}" style="margin-top: -24%; object-position: 0px -440px;">
        {% endif %}

        </div>
        <div class="hero-body is-overlay">
            <div class="container">
                <h1 class="title">{{title}}</h1>
            </div>
        </div>
    </section>












  




    <section class="section is-flex-grow-1">

       {% topPostMinimalAd %}

      <div class="container articulo content">

        {{ content | safe }}

        {% bottomContentPostMinimalAd %}

      </div>

    </section>


<h3>incl: service-post</h3>
<ul>
  {%- for post in collections.postsFolder %}
  <li>
  <a href="{{ post.url }}">
  {{ post.data.title }}
  </a>
  </li>
  {%- endfor %}
</ul>


    {% include "footer.njk" %}
  </body>

</html>