<div class="social-flotante is-hidden-touch pl-6">
  <ul>
    <li><a href="https://www.facebook.com/sharer.php?u={{ config.domain }}{{ page.url }}" class="button" aria-label="facebook share button" rel="nofollow noreferrer" target="_blank"><span class="icon">{% facebookDarkIcon %}</span></a></li>
  </ul>
</div>