---
title: EFI Conversions
tags: ['service']
eleventyNavigation:
  key: EFI Conversions
  parent: Performance Upgrades
  order: 1
description: Driven Garage nothern California restomod auto customization and repair shop
featuredImage: ./src/_images/67_Camaro01.jpg
featuredImageAlt: "67 Camaro engine"
featuredImagePos: "margin-top: -20%;"
mylistfield:
  - "Engine swaps"
  - "EFI conversions"
  - "Brake Upgrades"
  - "Power Steering Conversions"
  - "Suspension upgrades"
  - "Transmission swaps"
---

  {% include "head.njk" %}

  <body class="is-flex is-flex-direction-column performance-upgrades">

    {% include "nav.njk" %}

    {% include "hero-services.njk" %}

    <section class="services half-split">
      <div class="container">

        <div class="columns">
          <div class="column">
            <figure class="image">
              <img src="{{ rootPath }}_images/001-corvette-holley-efi-sniper-quadrajet-throttle-body.jpg" alt="Custom fabricated exhaust">
            </figure>
          </div>
          <div class="column">
            <div class="half-split-cont">
              <h3>EFI Done Right</h3>
              <p>
                Here’s how we do it right, and how to get the best experience from your EFI install. We’ve been ripping carburetors off and replacing them with throttle body EFI since George W. Bush was in the White House.</p>
              <p>After thousands of installs from every brand that makes these “Kits” -  we know what works well. We’re picky about the parts choice as well as how these systems are installed as we’ve seen what works best in real world driving on our own cars as well as customers rides.
              </p>
            </div>
            <div class="control">
              <div class="button is-primary slant toggle-btn"><h4>Ready to go? - Get started ></h4></div>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <div class="half-split-cont">
              <h3>More Efficient Power Curve</h3>
              <p>
                EFI isn’t a magic bullet that solves poor running conditions - but it can make your car easier to start both when cold and hot and increase overall reliability in most driving conditions. It won’t double your fuel mileage but will provide a more efficient burn. It won’t add horsepower - but will make your power curve better. 
              </p>
              <div class="control">
                <div class="button is-primary slant toggle-btn"><h4>Make your car run like this ></h4></div>
              </div>
            </div>
          </div>

          <div class="column">
            <figure class="image">
              <img src="{{ rootPath }}_images/001-corvette-holley-efi-sniper-quadrajet-throttle-body.jpg" alt="Custom fabricated exhaust">
            </figure>
          </div>

        </div>

      </div><!-- END container -->
    </section>








<style>
section.services-detail-cost-box .bkg-stripe.primary {
  background-color: #363636;
}

.container.feat-layout {
    margin: 0 auto 6rem auto;
}
.feat-body {
    margin: 4rem 2rem 0 0;
    padding: 1.4rem;
    background-color: #363636;
    color: #fff;
}
.feat-body h3 {
    font-size: 2rem;
    font-weight: 500;
    color: #f79837;
}
.feat-over {
    min-height: 12rem;
    z-index: 8;
}
.feat-layout figure img {
    max-height: 544px;
}
.know-tips {
  /* margin-bottom: 1rem; */
  display: flex;
  justify-content: space-between;
}
section.services-detail-cost-box span.hilite {
  margin: 0.6rem 0;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
}
section.services-detail-cost-box h4 {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  color: #f79837;
}

    

.feat-body .cta-bar h3 {
    margin: 1rem 0 0 4.4rem;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
}
section.services-detail-cost-box .column p.tips-subhead {
  font-size: 0.9rem;
  color: #dadada;
}
</style>






<!-- TRIAL tip info bar -->
<section class="services-detail-cost-box">
  <div class="container">
    <!-- <div class="halftone-overlay"></div> -->
    <div class="sec-bkg-img">
      <img style="margin-top: -66%;" src="{{ rootPath }}_images/70_Mustang01_green_lights.jpg" alt="65 Mustang quick service">
    </div>
    <div class="bkg-stripe primary">
      <div class="container know-tips">
        <h3>How <span style="color: #f79837;">Driven</span> <i>Does It Right</i></h3>
        <span class="hilite"><i>What we've learned</i></span>
      </div>
    </div>

    <div class="hero-body is-overlay">
      <div class="container">
        <div class="columns pad-top">
          <div class="column is-one-third">
            <img src="{{ rootPath }}_images/CCS_Inition_distributor.jpg" alt="CCS Inition distributor">
          </div>
          <div class="column">
            <p class="tips-subhead">
              <!-- With years under cars, out techs have learned the right parts and techniques – the hard way -->
              After years under cars, we've honed the best installation matched with the right parts to do the job right
            </p>
            <h4>Timing Control with EFI</h4>
            <p>With a few components we can add timing control to most EFI systems. This enables the EFI computer to control the timing curve on your engine as well as the fuel map. This allows us to dial in your advance curve to make your car more responsive and put the fuel and timing map in concert to help make the most power at the right time.</p>
          </div>
        </div><!-- END columns -->
      </div>
    </div><!-- END hero-body is-overlay -->

  </div><!-- END container -->
</section>
<!-- END ONE - COST LOCKUP -->







  <section class="projects">
    <div class="body-full">
      <div class="bkg-stripe primary">
        <div class="container">
          <h3>EFI Conversions</h3>
        </div>
      </div>
      <div class="container">
        <div class="columns">
          <div class="column">
            <img src="{{ rootPath }}_images/CCS_Inition_distributor.jpg" alt="CCS Inition distributor">
          </div>
          <div class="column">
            <h3>How Driven Does It</h3>
            <p class="tips-subhead">
              <!-- With years under cars, out techs have learned the right parts and techniques – the hard way -->
              With years under cars, we've discovered the right parts and develped techniques to do the job right
            </p>



            <h4>Timing Control with EFI</h4>
            <p>With a few components we can add timing control to most EFI systems. This enables the EFI computer to control the timing curve on your engine as well as the fuel map. This allows us to dial in your advance curve to make your car more responsive and put the fuel and timing map in concert to help make the most power at the right time.</p>
        </div>
        </div><!-- END columns -->
      </div>
    </div><!-- END body-full -->
  </section>
      


<style>
  .half-split .columns {
    margin-bottom: 4rem;
  }
  .half-split h3 {
    margin: 0 0 1rem 0;
    width: fit-content;
    font-size: 2rem;
    font-weight: 500;
    border-bottom: 2px solid #f79837;
  }
  .half-split h3.sm {
  font-size: 1.8rem;
}
  .half-split-cont {
    margin: 0 0 1rem 0;
    padding: 1rem;
  }
  .half-split p {
    font-size: 1rem;
    line-height: 2rem;

}
</style>

    <section class="services half-split">
      <div class="container">
        <div class="columns">
          <div class="column">
            <figure class="image">
              <img src="{{ rootPath }}_images/Aeromotive_in-tank_pump.jpg" alt="Custom fabricated exhaust">
            </figure>
          </div>
          <div class="column">
            <div class="half-split-cont">
              <h3>Components Matter</h3>
              <p>
                We custom match components to your application based not just on brand name - but your goals for performance and reliability. We don’t cheap out on plumbing and fittings - because who likes to watch their car burn to the ground? We spec in-tank fuel pumps with a return system every time, and have seen the failures not doing this causes. Is it harder or more expensive to do it right? Yes…. But our experience tells us to do it right and pay now, or re-do it later and pay again. 
              </p>
            </div>
            <div class="control">
              <div class="button is-primary slant toggle-btn"><h4>Ready to go - Get started ></h4></div>
            </div>
          </div>
        </div>

        <div class="columns">

          <div class="column">
            <div class="half-split-cont">
              <h3 class="sm"><em>Will my car pass smog if I switch to EFI?</em></h3>
              <p>
                In most cases, yes - but with exceptions. We’ve done conversions on smog era vehicles with California legal components in the past - but we need to spec the right components for you. We can’t do this for every vehicle - but kits are available for a surprisingly wide range from various companies. 
              </p>
            </div>
          </div>

          <div class="column">
            <figure class="image">
              <img src="{{ rootPath }}_images/001-corvette-holley-efi-sniper-quadrajet-throttle-body.jpg" alt="Custom fabricated exhaust">
            </figure>
          </div>

        </div>

        <h3>Ready for a quote for an EFI conversion?</h3>

        <div class="control">
          <div class="button is-primary slant toggle-btn"><h4>Get started ></h4></div>
        </div>

      </div><!-- END container -->
    </section>









<!-- START alt COST LOCKUP -->
<style>
  section.services-detail-cost-box-alt {
    padding: 2rem 0;
    background-color: #bdbdbd;
  }
  section.services-detail-cost-box-alt .title {
    font-size: 2rem;
    font-weight: 500;
    color: #363636;
  }
  section.services-detail-cost-box-alt h3 {
    padding-right: 6rem;
    font-size: 0.9rem;
  }
  section.services-detail-cost-box-alt .column p:not(:last-child) {
    margin-bottom: 1rem;
  }
  .cost-box-inner {
    max-width: 60%;
    margin-bottom: 1rem;
    padding: 0.4rem;
    background-color: #dadada;
  }
  section.services-detail-cost-box-alt .column span {
    font-size: 1.3rem;
    font-weight: 600;
  }
</style>

<section class="services-detail-cost-box-alt">
<!--  <div class="body-full"> -->
  <div class="container">
    <div class="columns">
      <div class="column is-one-third">
          <h1 class="title">What’s the cost?</h1>
          <h3>Each job will be estimated individually, but here are some guidelines to help you budget</h3>
      </div>
      <div class="column">
        <div class="columns">
          <div class="column">
            <p>
              For a standard install which includes a Holley Sniper EFI throttle body, AN hose and fittings and an in-tank pump with return and filters.</p>
            <p>Each system based on the components that will work best for your application.</p>
            <p>You can expect to pay around:</p>
          </div><!-- END 1 column -->
          <div class="column">
            <div class="cost-box-inner">
              <p><span>$2,000 - $2,500</span><br>for the parts</p>
            </div>
            <div class="cost-box-inner">
              <p><span>$1,600 - $1,800</span><br>for installation, plumbing, wiring and tuning.</p>
            </div>
          </div>
        </div><!-- END columns -->
      </div>


  </div>


</section>



<!-- End alt COST LOCKUP --> 




<!-- START COST LOCKUP -->    
<style>
  section.services-detail-cost-box > .container {
    min-width: 100%;
  }

  section.services-detail-cost-box .title {
    font-size: 2rem;
    font-weight: 500;
    color: #f79837;
  }
  section.services-detail-cost-box h3 {
    padding-right: 6rem;
    font-size: 0.9rem;
    color: #dadada;
  }
  section.services-detail-cost-box .column p {
    font-size: 1.1rem;
    font-weight: 400;
    color: #ffffff;
  }
  section.services-detail-cost-box .column p:not(:last-child) {
    margin-bottom: 1rem;
  }
  section.services-detail-cost-box .cost-box-inner {
    max-width: 60%;
    margin-bottom: 1rem;
    padding: 0.4rem;
    background-color: rgb(218 218 218 / 33%);
  }

  section.services-detail-cost-box .column span {
    font-size: 1.3rem;
    font-weight: 600;
  }
  section.services-detail-cost-box .cost-box-inner p {
    font-size: 0.9rem;
  }
  figure.history-quote {
    color: #dadada;
  }
  figure.history-quote blockquote {
    font-size: 1.2rem;
    font-weight: 500;
  }
  figure.history-quote figcaption {
    font-size: 1rem;
    font-style: italic;
  }

.bkg-stripe.primary .container.is-flex {
  align-items: center;
}

.bkg-stripe.primary h3 {
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
}
.hero-body.is-overlay .columns.pad-top {
  padding-top: 2rem;
}
</style>

    <section class="services-detail-cost-box">
      <div class="container">
        <div class="halftone-overlay"></div>
        <div class="sec-bkg-img">
          <img src="{{ rootPath }}_images/001-corvette-holley-efi-sniper-quadrajet-throttle-body.jpg" alt="65 Mustang quick service">
        </div>
        <div class="hero-body is-overlay">
            <div class="container">
                <div class="columns">
                    <div class="column is-one-third">
                        <h1 class="title">What’s the cost?</h1>
                        <h3>Each job will be estimated individually, but here are some guidelines to help you budget</h3>
                    </div>
                    <div class="column is-two-third">
                        <div class="columns">
                            <div class="column">
                              <p>
                                For a standard install which includes a Holley Sniper EFI throttle body, AN hose and fittings and an in-tank pump with return and filters.<br>
                              </p>
                              <p>Each system based on the components that will work best for your application.</p>
                              <p>You can expect to pay around:</p>
                            </div><!-- END 1 column -->
                            <div class="column">
                              <div class="cost-box-inner">
                                <p><span>$2,000 - $2,500</span><br>for the parts</p>
                              </div>
                              <div class="cost-box-inner">
                                <p><span>$1,600 - $1,800</span><br>for installation, plumbing, wiring and tuning.</p>
                              </div>
                            </div>
                          </div><!-- END columns -->
                    </div><!-- END column is-two-third -->
                </div>

                <div class="columns">
                  <div class="column">
                    <figure class="history-quote">
                      <blockquote>
                        “The bitterness of poor quality remains long after the sweetness of low price is forgotten.”
                      </blockquote>
                      <figcaption>― Benjamin Franklin</figcaption>
                    </figure>
                  </div>
                  <div class="column">
                    <div class="control">
                      <div class="button is-primary slant toggle-btn"><h4>Give me an estimate - I’m ready! ></h4></div>
                    </div>
                  </div>

                </div>

            </div>
        </div><!-- END hero-body is-overlay -->

      </div><!-- END container -->
    </section>
<!-- END COST LOCKUP -->


{% include "services-related.njk" %}


    {% include "footer.njk" %}
  </body>

</html>