---
layout: index_layout.njk
title: Driven Garage - v3-2-9
description: Driven Garage nothern California restomod auto customization and repair shop
eleventyNavigation:
  key: Home
  title: Home
  order: 0
---

<style>
  section.hero .slide-box {
    height: 19rem;
    min-height: 36rem;
  }
  section.hero .slide-box > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  section.hero .slide-box .feat-item_overlay_body {
    /* align-items: center; */
    margin-bottom: 4rem;
    z-index: 1;
  }
  section.hero .swiffy-slider .slider-nav {
    z-index: 5;
  }


</style>

<section class="hero is-medium is-primary has-background">

  <!-- <div class="swiffy-slider"> -->  <!-- slider-nav-autoplay slider-nav-autopause -->
  <div class="swiffy-slider slider-nav-autoplay slider-nav-autopause">  

    <ul class="slider-container">
        <li>
          <div class="slide-box">
            <img src="{{ rootPath }}_images/67_dart_vader_graffiti.jpg" alt="67 Dart Vader" style="object-position: 0px -245px;">
            <div class="feat-item_overlay">
              <div class="feat-item_overlay_body">
                <div class="container">
                  <h3 class="subtitle">
                    Born from our
                  </h3>
                <div class="hero-head">
                  <h1 class="title">Passion</h1>
                  <h1 class="title-sm">for</h1> 
                  <h1 class="title">Classic Cars</h1>
                </div>
              </div>
            </div>
          </div>
        </li><!-- END slide 1 -->

        <li>
          <div class="slide-box">
            <img src="/assets/images/69-cuda-5-1275.jpeg" alt="69 Cuda">
            <div class="feat-item_overlay">
              <div class="feat-item_overlay_body">
                <div class="container">
                  <h3 class="subtitle">
                    69 Cuda
                  </h3>
                <div class="hero-head">
                  <h1 class="title">Every</h1>
                  <h1 class="title-sm">bolt</h1> 
                  <h1 class="title">Touched</h1>
                </div>
              </div>
            </div>
          </div>
        </li><!-- END slide 2 -->

        <li>
          <div class="slide-box">
            <img src="{{ rootPath }}_images/55buick-6220.jpg" alt="55 Buick" style="object-position: 0px -245px;">
            <div class="feat-item_overlay">
              <div class="feat-item_overlay_body">
                <div class="container">
                  <h3 class="subtitle">
                    55 Buick
                  </h3>
                <div class="hero-head">
                  <h1 class="title">Classic</h1>
                  <h1 class="title-sm">Frame-off</h1>
                  <h1 class="title">Restoration</h1>
                </div>
              </div>
            </div>
          </div>
        </li><!-- END slide 3 -->

        <li>
          <div class="slide-box">
            <img src="/assets/images/67camaro_forsyth-5857-2000.jpeg" alt="67 Camaro" style="object-position: 0px -445px;">
            
            <div class="feat-item_overlay">
              <div class="feat-item_overlay_body">
                <div class="container">
                  <h3 class="subtitle">
                    67 Camaro
                  </h3>
                <div class="hero-head">
                  <h1 class="title">Mean</h1>
                  <h1 class="title-sm">Detroit</h1>
                  <h1 class="title">Muscle</h1>
                </div>
              </div>
            </div>
          </div>
        </li><!-- END slide 4 -->

    </ul>

    <button type="button" class="slider-nav"></button>
    <button type="button" class="slider-nav slider-nav-next"></button>

    <div class="slider-indicators">
        <button class="active"></button>
        <button></button>
        <button></button>
    </div>
  </div><!-- END swiffy-slider -->



  {%set fullHeroPath = "./src/_images/cameros_half.png" %}
  {% set heroAlt = "3 generations Cameros" %}
  {% set heroClassName = "hero-background is-transparent" %}
  {% set heroSizesResp = "19heroSizesResp" %}

{% if fullHeroPath|length %}

{% endif %}

<!--
  <div class="hero-body is-overlay">
    <div class="container">
      <h3 class="subtitle">
        Born from our
      </h3>
      <div class="hero-head">
        <h1 class="title">Passion</h1>
        <h1 class="title-sm">for</h1> 
        <h1 class="title">Classic Cars</h1>
      </div>
    </div>
  </div>
-->
  <div class="columns">
    <div class="column">
      <h4 class="cta-tag">Small jobs, big jobs,
        all makes and models...
        <span>Yes, even that one</span> </h4>
    </div>
    <div class="column">
      <div class="cta-bar">
        <h3>Need work done?</h3>
        <div class="control">
          <a class="button is-primary slant js-modal-trigger" data-target="modal-js-example" href="#" target="_self"><h4>Click for Estimate  > </h4></a>
        </div>
      </div>
    </div>
  </div><!-- END columns -->
</section>




<section class="services">
  <div class="container">
    <h2>Services</h2>
    <h3>Get your classic back on the road, get it serviced, or make it perform better!</h3>

    <div class="columns is-multiline">
<!-- START loop -->

  {%- for post in collections.service %}

    {% set imgPostP = post.data.featuredImage %}
    {% set imgPostAlt = post.data.featuredImageAlt %}
    {% set imgSizesResp = "(min-width: 1420px) 432px, 
    (min-width: 1220px) 368px, 
    (min-width: 1040px) 304px, 
    (min-width: 780px) calc(33.33vw - 16px), 
    calc(100vw - 24px)"
    %}

    {% if (post.data.title !== title) %}
      <div class="column is-one-third">
        <div class="feat-item-over">
          <a href="{{ post.url }}"></a>
        {% if imgPostP | length %}
            {% image ""+imgPostP, ""+imgPostAlt, ""+imgSlidePos, ""+imgSizesResp %}
        {% endif %}          
          <div class="item__overlay">
            <div class="card-halftone-overlay"></div>
            <h3 aria-hidden="true">{{ post.data.title }}</h3>
            <div class="item__body">
              {% if post.content | length %}
              <p>{{ post.content | safe }}</p>
              {% endif %}
              <div class="control">
                <a href="#" target="_self">click for more
                  <img src="{{ rootPath }}_images/i-link-arr.png" alt="Link to more">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div><!-- END column {{ loop.index }} -->
    {% endif %}
  {%- endfor %}

<!-- END loop -->
  </div><!-- END  columns -->

  </div>
</section>

</section>



<section class="process">
  <div class="container">
    <h2>How We Work</h2>
    <h3>Getting your car worked on is easier than ever - Here's how you do it</h3>

    <div class="columns">

      <div class="column">
        <div class="process-item">
          <div class="img-wrap">
            <i class="icon flaticon-car-search"></i>
          </div>
          <h5><span>1</span> Get a Quote</h5>
            <p>Tells us what's wrong with your car or work you want done. We'll shoot back a detailed estimate that includes diagnosis, parts, and labor.</p>
        </div>
      </div>

      <div class="column">
        <div class="process-item">
          <div class="img-wrap">
            <i class="icon flaticon-autolift"></i>
          </div>
          <h5><span>2</span> Approve Repairs</h5>
          <p>Once you approve the estimate, we'll book an appoitment to drop off your car and our team will get to work.</p>
        </div>
      </div>

      <div class="column">
        <div class="process-item">
          <div class="img-wrap">
            <i class="icon i-timesheet">
              <img src="{{ rootPath }}_images/i-timesheet.svg" alt="timesheet">
            </i>
          </div>
          <h5><span>3</span> Time is Money</h5>
          <p>Only pay for time our team is working on your car. We use strict time tracking to ensure you won't pay extra. </p>
        </div>
      </div>
      


      <div class="column">
        <div class="process-item">
          <div class="img-wrap">
            <i class="icon flaticon-fix-sign"></i>
          </div>
          <h5><span>4</span> Hit the Road</h5>
          <p>Our certified team will fix your car and get you back on the road.</p>
        </div>
      </div>

    </div>



  </div>
</section>






<section class="projects-head">
  <div class="container">
    <div class="control">
      <a href="projects" target="_self"><span>click for more</span>
        <img src="{{ rootPath }}_images/i-link-arr.png" alt="Link to more">
      </a>
    </div>
    <h2>Featured Projects</h2>
    <h3>Every build is infused with our blood and sweat. Taming metal and tuning performace.</h3>
  </div>
</section>
{% include "b-featured-project.njk" %}

<style>
  section.carousel {
    min-height: 32rem;
  }
</style>

<section class="carousel">
  <div class="header-full">
    <div class="container">
      <div class="control">
        <a href="https://www.google.com/search?q=Driven+Garage+Oakland+CA&rlz=1CDGOYI_enUS592US592&oq=driven+garage+oakland&aqs=chrome..69i57.12348j0j7&hl=en-US&sourceid=chrome-mobile&ie=UTF-8&stick=H4sIAAAAAAAAAONgVuLVT9c3NEzLK6rMqrTMeMRowS3w8sc9YSn9SWtOXmPU5OIKzsgvd80rySypFJLmYoOyBKX4uVB18uxi4vfJT07MCcjPDEoty0wtL17EKppSlFmWmqeQnliUmJ6qUAQRBwAjqyVwdgAAAA&ictx=1&ved=2ahUKEwjgu8-Hppr8AhWcIzQIHVQUABcQyNoBKAF6BAgTEAg" target="_self">
          <span>click for more</span>
          <img src="{{ rootPath }}_images/i-link-arr.png" alt="Link to more">
        </a>
      </div>
      <h3>Listen to our Customers</h3>
      <p>Don't take our word for it... Our great customers share their stories</p>
      </div>
  </div>


  <div class="halftone-overlay"></div>
  <div class="sec-bkg-img">
    <img src="{{ rootPath }}_images/Mercury_Comet.jpg" alt="Mercury Comet">
  </div>

  <div class="body-full">
    <div class="container">
      <!-- Start Carousel -->

      <div class="swiffy-slider slider-item-show4">
        <ul class="slider-container">
            <li>
              <div class="carousel-cont">
                <p>“They did a great job of replacing my carburetor on my 1971 Monte Carlo. Very professional and detailed invoice I would highly recommend if you want your classic worked on to come here. Turn around time was fast.”</p>
                <h3>Lisa Northcutt</h3>
              </div>
            </li>
            <li>
              <div class="carousel-cont">
                <p>“I came in  to tune up the engine and in inspection.  Car was bogging  and not running well. Geoffrey replaced the carb and got the timing on point and the car was running at its best, thanks to Driven Garage.  Driven Garage its just the place to to go.”</p>
                <h3>Juan Cruz</h3>
              </div>
            </li>
            <li>
              <div class="carousel-cont">
                <p>“71 Chevelle: Performed a complete re-wire of the whole car, new dash and digital gauges, new retro radio, and a bunch more.
                  I can not say enough about this team. So glad I found them. They make me feel welcome every time I stop by.”</p>
                <h3>Jonathan Richardson</h3>
              </div>
            </li>
            <li>
              <div class="carousel-cont">
                <p>“This is THE place to take your older/classic car. Geoff and his crew are great!! I have been back multiple times to upgrade my 1977 Chevy Truck. They do it all from electrical, bodywork and of course working on vintage motors.
                  Top notch quality work.”</p>
                <h3>Eddie Valdez</h3>
              </div>
            </li>
            <li>
              <div class="carousel-cont">
                <p>“My 93 year old father has proudly owned a 1978 Buick Electra Limited.
                  The lack of qualified repair shops that could service an older carbureted car lead me to a shop recommendation from Buick forum “Driven Garage”. THE go to place for all your service, repair and restoration needs.”</p>
                <h3>Reggie Davis</h3>
              </div>
            </li>
            <li>
              <div class="carousel-cont">
                <p>“Driven Garage is a life saver! My car started sputtering and I had to pull over. 
                  Driven Garage was one of the few auto shops open on a Saturday! They ran diagnostics, ordered parts, and got it fixed by Monday. 
                  I'm very grateful for their work and great customer service!”</p>
                <h3>Camila Hurtado</h3>
              </div>
            </li>
        </ul>
    
        <button type="button" class="slider-nav"></button>
        <button type="button" class="slider-nav slider-nav-next"></button>
    
        <div class="slider-indicators">
            <button class="active"></button>
            <button></button>
            <button></button>
        </div>
    </div>

      <!-- End Carousel -->
    </div><!-- END container-->
  </div><!-- END body-full-->
</section>




<style>
  section.media-logos h2 {
    font-size: 3rem;
    font-weight: 700;
    color: #363636;
  }
  section.media-logos > .container > .columns {
    margin-top: 2rem;
  }
  section.media-logos > .container > .columns img {
    max-width: 70%;
  }
</style>

<section class="media-logos">
  <div class="container">
    <h2>Driven featured in the Media</h2>
    <h3>You may have seen us on your favorite show, blog, or magazine</h3>
    <div class="columns">
      <div class="column">
        <img src="{{ rootPath }}_images/l-Roadkill.png" alt="Roadkill">
      </div>
      <div class="column">
        <img src="{{ rootPath }}_images/l-The-Drive.png" alt="The Drive">
      </div>
      <div class="column">
        <img src="{{ rootPath }}_images/l-Mopar-Muscle.jpg" alt="Mopar Muscle">
      </div>
    </div>
  </div>
</section>




